---
title: What do DfE user researchers do?
weight: 100
---


<%= partial "ga" %>


<div class="dfe-hero">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full"><a href="/-about-ur-at-dfe/" class="govuk-back-link">Back to User Research Principles</a>
			<h1 class="govuk-heading-l">What do DfE user researchers do?</h1>
			<p>User researchers at Department for Education help teams understand their users, helping them design and build services that solve the right user problems and meet user needs. </p>
            <p>This means our users will have a better experience of DfE, and ensures we don't waste taxpayers' money on building the wrong things.</p>
		    <div class="bordered-top--dark"></div>
		</div>
	</div>
</div>

## Why do DfE teams need a user researcher?

User research helps a team to:
<li>understand their users' problems, goals and tasks
<li>decide what (if any) service DfE needs to build for the users
<li>ensure the services we create meet the needs of users

A user researcher brings the authentic voices, experiences, stories and needs of users into the team, making sure that the whole team understands their users, and makes decisions about the design of the service based on what users need.

User research is a <a href="https://www.gov.uk/government/collections/digital-data-and-technology-profession-capability-framework" target="_blank">DDaT (Digital, Data and Technology) profession (opens in a new window)</a>. We help our teams design services across all digital and non-digital touchpoints, from helping define what service (if any) to build, all the way to ongoing improvements of live services.

Some user researchers are also involved in designing DfE policy: DfE, like many other government departments, is testing different ways to bring user researchers and agile user research methods into policy teams.

Visit the GDS Service Manual to find out more information on <a href="https://www.gov.uk/service-manual/user-research" target=_blank>user research in government</a>.

If you are already a user researcher or you are interested in the profession, find out how to [connect with the user research community](/-community-of-practice).


## What if my team doesn't have a user researcher?

If your team is designing a service for users, not having a user researcher means you probably <a href="https://apply-the-service-standard.education.gov.uk/service-standard/6-have-a-multidisciplinary-team.html#in-beta-and-live" target="_blank">won't meet the service standard</a>. 

Additionally, if you are speaking to users without a user researcher, you may not know how to do it in a way that <a href="/-standards-and-guidance/">meets our professional standards</a>: i.e. gathering accurate insight, and being conducted in a way that is ethical for users, and meets laws and departmental requirements around data privacy and safeguarding.

<div class="govuk-inset-text">
You can speak to the <a href="https://educationgovuk.sharepoint.com/sites/lvewp00038/SitePages/DDaT-Central-Functions.aspx" target="_blank">DfE DDaT Business Partners team (DfE Intranet, opens in a new window)</a> to understand whether your team needs a user researcher, and how to go about doing this.
</div>


## How is user research different to other types of research in DfE?

User research is related to, but not the same as, other research and insight disciplines that helps DfE understand our users, like social research, market research or performance analysis. User researchers don't replace these other specialists: often, a team will need to employ multiple types of research and insight at different times, to really understand their users and their problem space.

## What kinds of research methods do user researchers use?

User researchers are mainly interested in peoples' behaviour, rather than their opinions. We tell our teams what people <em>do</em> and <em>need to do</em> in order to understand their needs, rather than what people <em>say</em>. 

<a href="https://www.gov.uk/guidance/user-researcher" target=_blank>We have a range of skills</a> that allow us to plan, design and carry out research activities with users.

Our research is often qualitative and in-person, using structured interviews and observation to gather insights about user behaviour and user needs. However, we also use a number of other methods that can be employed in different contexts to understand different user problems and needs. A user researcher knows the best method to employ for different research problems.

User researchers don't often generate statistically significant data about users, although we use this data (from social research, performance analysis, etc) to inform our own research. 

Because service teams generally work in agile sprints, we frequently use research methods that generate insights quickly. We build up insight over time: one sprint of research doesn't give us deep understanding of our users, but multiple related sprints of research over time will build up a high level of confidence in our insights. Sometimes we also use longer-term longitudinal research methods, gathering insight from the same users over multiple weeks or months. 

## User research is a team sport

User researchers don't work alone in our teams. Part of our job is to bring the whole team into research activities, from planning what research is needed, to observing research sessions, getting involved in analysis, or making sure that the whole team and stakeholders hear and understand the user insights we've gathered.

You can read more about what this means in these <a href="https://userresearch.blog.gov.uk/category/team-sport/" target="_blank">GDS 'user research is a team sport' blogs (opens in a new window)</a>

At different points in a service lifecycle, user researchers might work very closely with different members of a team. For example, during a Discovery they might work hand-in-hand with a service designer or business analyst, or in Beta with an interaction designer. We always work very closely with product managers, because this helps ensure that user needs are leading the team's backlog and priorities.

