---
title: Desk research
weight: 100
last_reviewed_on: 2022-07-26
review_in: 1 year
---

<%= partial "ga" %>
<script src="https://kit.fontawesome.com/f3917b32f1.js" crossorigin="anonymous"></script>

# Desk research

<a href="https://docs.google.com/spreadsheets/d/1JlOYx51_6HEpRTvK6K7nbqdYmFpiY6ZWuHhbwliuQU4/edit?usp=sharing" target="_blank"> Desk research sources catalogue </a>
