---
title: Doing user research under the Civil Service code
weight: 1
last_reviewed_on: 2022-07-26
review_in: 1 year
---

<%= partial "ga" %>
<script src="https://kit.fontawesome.com/f3917b32f1.js" crossorigin="anonymous"></script>

# Doing user research under the Civil Service code

<a href="https://www.gov.uk/government/publications/civil-service-code/the-civil-service-code" target=_blank>The Civil Service code</a> is a set of core values and principles all civil servants must work to when carrying out their official duties, regardless of role or grade.

The Civil Service is integral to the government of the United Kingdom and supports the government in developing and implementing policies, and delivering public services. 

As a civil servant, you are expected to carry out your role with dedication and a commitment to the Civil Service and its core values set out in the Code. These are: 

<li>integrity - putting the obligations of public service above your interests
<li>honesty - being truthful and open
<li>objectivity - basing your advice and decisions on rigorous analysis of the evidence
<li>impartiality - acting solely according to the merits of the case and serving equally well governments of different political persuasions.

Working in line with these values allows civil servants to support good government and to gain and retain the respect of ministers, Parliament, the public and its customers (users).

Although the Code should be observed at all times, there are special considerations for [conducting user research during a pre-election period](/pre-election-periods.html).

If you feel you are being asked to work in a way which conflicts with the values set out in the Code, you have a right to <a href="https://www.gov.uk/government/publications/civil-service-code/the-civil-service-code#:~:text=or%20your%20actions.-,Rights%20and%20responsibilities,-Your%20department%20or" target=_blank>challenge or raise a concern</a>.

## Doing user research for the Department for Education

As well as observing the Civil Service code, the department expects all staff to have high standards of behaviour and conduct. All employees have a responsibility to manage themselves and their staff in line with <a href="https://educationgovuk.sharepoint.com/sites/human-resources/SitePages/Conduct-and-behaviour.aspx" target=_blank>the department’s policies and procedures</a>. 

As user researchers in the department, [we work to a set of agreed principles](/our-principles.html) which help to guide us in our work. By applying these principles, we can ensure we’re working in line with the Civil Service code, the department’s expectations of us as employees, while also delivering a consistent approach to user research in the department, helping to deliver <a href="https://educationgovuk.sharepoint.com/sites/our-department/SitePages/strategy-and-vision.aspx" target=_blank>the department’s strategy and vision</a> to: 

<li>put children and learners first
<li>empower yourself and others
<li>be data, evidence and expertise driven 
<li>deliver joined up results

## Using social media in research

Social media is a helpful tool to use in combination with other tools and methods available to us as user researchers, but there are restrictions on how we can use social media in our work. 

