---
title: Communities of practice
weight: 10
last_reviewed_on: 2022-07-26
review_in: 1 year
---

<%= partial "ga" %>
<script src="https://kit.fontawesome.com/f3917b32f1.js" crossorigin="anonymous"></script>

# Communities of practice


User Research communities of practice are spaces (both in-person and virtual) for researchers to come together to share best practices and mix with people from across the profession. 

They give researchers a chance to: 

<li>learn from each other
<li>share work and knowledge
<li>meet new starters
<li>support each other
<li>hear from a range of voices from across the community
<li>access learning and development opportunities
<li>have visibility of the user research leadership team 
<li>get essential updates about user research at DfE

## How meetups work 

Community of practice meetings (known as “meetups”) are time-boxed sessions which follow a similar structure each time. They run at both a national and a local level. The content of meetings differs depending on which you attend, and each local community has its way of doing things. 

| __National__  | __Local__ |
|---------------|---------------|
| Share knowledge and skills within the community and with other professions      | Share experience and support with researchers in that area |
| Discuss challenges and best practices relevant to the whole community      | Discuss things related explicitly to researchers in each locale |

Becoming an active member is a good way of shaping how your local community does things.  

National meetings have a community of practice working group, which plans sessions and works with hosts and presenters to help them get the most out of the sessions. Hosting and presenting are available on a one-off/semi-regular basis and open to researchers of all grades and backgrounds. Senior User Researchers should host at least one session per year. 

If you're interested in hosting or presenting at a national meeting or being a part of the working group, contact Chardai Brice to learn more about how the team can support you to deliver a great session or steer the future of national meetups.

## Getting involved

Meetups are held in person and remotely. 

To get a calendar invite for any community of practice, ask one of the organisers listed.

| __Area__ | __Frequency__ | __Organisers__ |
|---------------|---------------|----------------
| __National__  | First Thursday of the month, 1-2 pm | Chardai Brice|    
| __Manchester and Sheffield__ | First Thursday of the month, 1-2 pm | Jude Eccles, Rachael Sumner|
| __London__ | First Thursday of the month, 1-2 pm | Tom Crooks-Smith, Keisha Herbert|


There are currently no local communities in Bristol, Darlington, Newcastle and Nottingham. If you are a researcher in any of those locations, please contact Keisha Herbert to discuss which local community would be best for you to join. 

Some sessions are recorded to give everyone in the community a chance to access the content. <a href="https://drive.google.com/drive/folders/1ltoVR38P75i-mtx1Ma_0DChKN0YxbeKl?usp=sharing" target="_blank"> Watch recordings of previous meetups</a>.

Another way of keeping involved with the user research community is through the community channels on the <a href="https://ukgovernmentdfe.slack.com" target="_blank">Department for Education's Slack</a>:
	
<li> #user_research
<li> #mcr-userresearchers
<li> #sheffield_user_researchers
<li> #ldn_userresearch

There are also <a href="https://userresearch.blog.gov.uk/cross-government-user-research-meetups/" target="_blank"> cross-government communities</a> that publish blog content and hold meetups. 
