---
title: Research Operations
weight: 30
last_reviewed_on: 2022-07-26
review_in: 1 year
---

<%= partial "ga" %>
<script src="https://kit.fontawesome.com/f3917b32f1.js" crossorigin="anonymous"></script>

# Research Operations 

Research Operations (ReOps) are a central team who supports the work of user researchers in the department. The team is responsible for producing the tools, capability and guidance to allow researchers to do their best work. 

<%= basic_panel('Research Operations is the mechanisms and strategies that set user research in motion. It provides the roles, tools, and processes needed to support researchers in delivering and scaling the impact of the craft across an organisation" - <a href="https://medium.com/@emmaboulton">Emma Boulton</a>') %>


The Research Operations team in DfE work closely with the user research community to co-create solutions to some of the common challenges and barriers researchers face. Research Operations and the research community also collaborate to put things into motion, enabling researchers to [enact the values they hold](/user-research-community/our-principles.html).

## Our vision statement:

<%= basic_panel('We will enable user researchers to do their best work more efficiently, improving their happiness and wellbeing and increasing the overall quality of the services we deliver.') %>


__We will do this by:__

- __making it easier to find previous research and insight__ to waste less time, avoid duplication, improve the quality of research outputs, and help user researchers and teams make better decisions. 
- __helping user researchers access the participants they need__, making recruitment quicker and more cost-efficient, and enabling research with a more diverse set of users.
- __directing user researchers to process, guidance, and templates__, to support them in delivering high-quality research safely, legally and ethically 
- __ensuring all user researchers have access to specialist research spaces and the right equipment__ so that they can perform the best research 
- __leading in Research Operations practise and thinking__ across the UK government and the world.

Read more about our vision and missions [LINK TO MISSION DOCUMENT].

We plan our delivery strategy around the priorities of user researchers. You can see what we're working on currently and what we have planned for the future in our backlog [LINK TO BACKLOG] and our roadmap [LINK TO ROADMAP].

## The team

__Tom Adams__, Head of User Research

- Leads on user research and Research Operations strategy in the department.

__Alice Kiernan__, Research Operations Lead

- Leads on the Research Evidence Directory, the user research knowledge base, knowledge and insight management, user research onboarding, professional principles, managing internal and external ReOps stakeholder relationships and oversees the work of the ReOps team.

__Emma Christoforou__, Research Operations specialist

- Leads on the department's approach to participant recruitment for user research, with a focus on inclusive and diverse recruitment. 

>Got a suggestion or feedback for us? [Get in touch](/userresearch.operations@education.gov.uk)

## More about Research Operations

Research Operations is not unique to DfE and is a global profession established by <a href="https://medium.com/researchops-community" target="_blank">Team ReOps</a>.

Read about <a href="https://medium.com/researchops-community/the-eight-pillars-of-user-research-1bcd2820d75a" target="_blank">the eight pillars of user research</a> that underpin <a href="https://kumu.io/TeamReOps/what-is-researchops#wiro-workshops" target="_blank">the ReOps framework</a> and <a href="https://app.mural.co/t/researchopscommunity7839/m/researchopscommunity7839/1539419866773/d21dd2cce77e9e502dcdb46c4abfa7ad8a0aff88?sender=f837a96b-a46a-4403-ad91-2f20748a9f70" target="_blank">ReOps map</a>.

Other government departments also have Research Operations teams and have an active cross-government Slack community [LINK TO X-GOV SLACK]. 

Find out more about <a href="https://userresearch.blog.gov.uk/2019/05/30/understanding-research-operations-in-government/" target="_blank">Research Operations in Government</a>.
