---
title: Research Operations
weight: 30
last_reviewed_on: 2022-07-26
review_in: 1 year
---

<%= partial "ga" %>
<script src="https://kit.fontawesome.com/f3917b32f1.js" crossorigin="anonymous"></script>

# Research Operations 

Research Operations (ReOps) are a central team who supports the work of user researchers in the department. The team is responsible for producing the tools, capability and guidance to allow researchers to do their best work. 

<%= basic_panel('Research Operations is the mechanisms and strategies that set user research in motion. It provides the roles, tools, and processes needed to support researchers in delivering and scaling the impact of the craft across an organisation" - <a href="https://medium.com/@emmaboulton">Emma Boulton</a>') %>


The Research Operations team in DfE work closely with the user research community to co-create solutions to some of the common challenges and barriers researchers face. Research Operations and the research community also collaborate to put things into motion, enabling researchers to [enact the values they hold](/user-research-community/our-principles.html).

## Our vision statement:

<%= basic_panel('We will enable user researchers to do their best work more efficiently, improving their happiness and wellbeing and increasing the overall quality of the services we deliver.') %>


__We will do this by:__

- __making it easier to find previous research and insight__ to waste less time, avoid duplication, improve the quality of research outputs, and help user researchers and teams make better decisions. 
- ** helping user researchers access the participants they need **, making recruitment quicker and more cost-efficient, and enabling research with a more diverse set of users.
- ** directing user researchers to process, guidance, and templates **, to support them in delivering high-quality research safely, legally and ethically 
- ** ensuring all user researchers have access to specialist research spaces and the right equipment ** so that they can perform the best research 
- ** leading in Research Operations practise and thinking ** across the UK government and the world.

Read more about our vision and missions [LINK TO MISSION DOCUMENT].

We plan our delivery strategy around the priorities of user researchers. You can see what we're working on currently and what we have planned for the future in our backlog [LINK TO BACKLOG] and our roadmap [LINK TO ROADMAP].
