---
title: What user researchers do
weight: 1
last_reviewed_on: 2022-07-26
review_in: 1 year
---

<%= partial "ga" %>
<script src="https://kit.fontawesome.com/f3917b32f1.js" crossorigin="anonymous"></script>

# What user researchers do

User research is a qualitative research specialism which can help teams to learn about their users, and to create services and policies that meet their needs. 

User research is a specialist skill set, and is not just ‘talking to someone’. <a href="https://www.gov.uk/guidance/user-researcher" target=_blank>User researchers have a range of skills</a> which allow them to plan, design and carry out research activities with users that help teams get a deep understanding of the people that use government services. This research informs policy, proposition, service, content and interaction design so that services work well for users and achieves policy intent.

If you are already a user researcher or you are interested in the profession, find out how to [connect with the user research community](/communities-of-practice).

## What user research can help you to do

User research can help you to:
<li>understand the problems you are trying to solve
<li>decide if/what services to build
<li>help you to ensure the service that you create will work well for users, and also meet the policy intent and business goals

The better you understand your users, the more likely you are to design and build a service that works well for them, and that meets business goals.
Visit the GDS Service Manual to find out more information on <a href="https://www.gov.uk/service-manual/user-research" target=_blank>user research in government</a>.

http://ddat.businesspartners@education.gov.uk