---
title: Getting started with accessibility
weight: 5
last_reviewed_on: 2022-07-26
review_in: 1 year
---

<%= partial "ga" %>
<script src="https://kit.fontawesome.com/f3917b32f1.js" crossorigin="anonymous"></script>

# Getting started with accessibility

<div class="dfe-section-grey">
  <h2 class="govuk-heading-m">We’re working on this</h2>
    <p class="govuk-body">We haven’t published content for this section yet. Rather than hide it away, we can accept contributions through GitHub. </p>
    <p class="govuk-body">Using the View source link at the bottom of this page, you can submit a change and pull request for consideration.</p>
</div>