---
title: Ethics, safeguarding and inclusive research
weight: 400
---

<%= partial "ga" %>

<div class="dfe-hero">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-font-size-48"><%=current_page.data.title%></h1>
      <p>Working to consistent guidelines enables us to do joined-up, effective, targeted and trusted research that helps our teams deliver better services to our users.

<p>As a user researcher at DfE, you should always follow the guidance set out in these pages. You should also get feedback on your research plans, and after your research is complete.</p>
      <h2 class="govuk-heading-m govuk-!-margin-top-9">Ethical, safe and inclusive research guidance</h2>
        <div class="cards card-thirds">
        <ul>
         <li class="card">
            <div class="text">
              <h3>
                <a href="/-ethics-safeguarding-inclusive/user-research-in-civil-service/">User research as a civil servant</a>
              </h3>
              <p>Guidance on doing user research in line with the rules that apply in Department for Education.</p>
            </div>
          </li>
          <li class="card">
            <div class="text">
              <h3>
                <a href="/-ethics-safeguarding-inclusive/safeguarding/">Safeguarding standards</a>
              </h3>
              <p>Guidance on keeping yourself, your team and your participants safe when doing user research.</p>
            </div>
          </li>
          <li class="card">
            <div class="text">
              <h3>
                <a href="/-ethics-safeguarding-inclusive/inclusive-research/">Inclusive research</a>
              </h3>
              <p>Guidance on doing user research in an inclusive and accessible way.</p>
            </div>
          </li>
          <li class="card">
            <div class="text">
              <h3>
                <a href="/-ethics-safeguarding-inclusive/research-ethics/">Ethical standards</a>
              </h3>
              <p>Practical guidance for doing user research in line with our ethical standards in the department.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Get involved</h2>
    <p class="govuk-body">As a community of practice, and working with other teams in the department, we have developed ethical and safeguarding guidance to make sure our research is respectful, inclusive and does not cause harm to our users, our teams, and ourselves.</p>
     <div class="cards card-thirds">
        <ul>
            <li class="card">
              <div class="text">
                <h3>
                  <a href="/-about-ur-at-dfe/working-groups-and-interest-groups.html">Join the Ethics working group</a>
                </h3>
                <p>Join the Ethics working group to help shape the future of the guidance in this section.</p>
              </div>
            </li>
            <li class="card">
              <div class="text">
                <h3>
                  <a href="/-ethics-safeguarding-inclusive/ethics-advice.html">Contact the Ethics Advisory Group</a>
                </h3>
                <p>Contact the Ethics Advisory Group for advice on ethical issues related to user research.</p>
              </div>
            </li>
        </ul>
    </div>
  </div>
</div>

