---
title: Researching with users with access needs
weight: 160
---

<%= partial "ga" %>

# Researching with users with access needs

<blockquote>
<p><strong class="govuk-tag">Beta</strong> This guidance is in beta. It is likely to change over time.</p>
<p>Your <a href="/give-feedback.html">feedback</a> will help develop it</p>
</blockquote>

The <a href="https://apply-the-service-standard.education.gov.uk/accessibility/overview.html">accessibility guidance on the Apply the service standard in DfE website</a> gives advice and background to accessibility, and how we approach designing accessible services at DfE.

Your research plan must always include researching with users with access needs. You will fail service assessments if you ddon't research with these users, or if you haven't at least made significant attempts to recruit them and have plans to continue trying to recruit them.

We know that some DfE user populations are very small, and it can be difficult to find and recruit these participants. 

You should therefore plan your recruitment wel in advance, and not rely on a single recruitment method. Try a range of recruitment methods, and collaborate with other researchers in your programme who will also be looking for the same groups of users.

If you try mutliple recruitment methods but are still unable to recruit users with access needs, you can use proxy users instead: people with access needs who aren't real users of your service, but have some similarities (e.g. you might be looking for a School Business Professional, and recruit somebody in a different magerial role). This should be a last resort: only do this if you have genuinely exhausted other methods.

Don't rely on using internal DfE staff with disabilities as proxy users: they are often asked to take part in accessibility tests, which creates a burden on them, and also means that they are at risk of becoming 'professional testers' who do not act like real users.

In the future, we will provide support and tools to help you more easily recruit and research with users with access needs. See our <a href="/-about-ur-at-dfe/developing-ur-profession.html">profession roadmap</a>.

