---
title: What is inclusive research?
weight: 100
---

<%= partial "ga" %>

# What is inclusive research?

<blockquote>
<p><strong class="govuk-tag">Beta</strong> This guidance is in beta. It is likely to change over time.</p>
<p>Your <a href="/give-feedback.html">feedback</a> will help develop it</p>
</blockquote>

<%= warning_text("If you don't research inclusively then you are not meeting <a href=\"https://apply-the-service-standard.education.gov.uk/service-standard/\">the service standard</a>. <br>You may also be breaking equality law")%>

_“We must think about broader groups when designing services for everyone” (NHS)._

Inclusive research means including in your research all types of people who might need to use your service or who might be affected by your policy area. 

Some groups of people are subject to biases that mean they are excluded from, or do not have an equitable experience of, government services. We need to make sure everybody is part of our decision making processes, and user research must include people from these groups and recognise the value of their experience.  

In Department for Education services and policy, this could result in young people not attending school, or leaving school with lower attantinment than their peers. It could mean people with particular characteristics being underrepresented in the teaching profession, school leadership, and boards of governors. It could lead to negative outcomes children in care or early years settings. These are just a small number of examples, but there could be any number of undesirable consequences: if we don't understand all of our users, our teams can't build services that cater for all of our users.

## Is inclusive research the same as accessibility?

No. Researching with people with disabilities and access needs is critiical, and is one part of researching inclusively. 
Inclusivity goes further than accessibility: it means considering all marginalised groups. 

## Who should I research with?

- from the <a href="https://www.equalityhumanrights.com/en/advice-and-guidance/your-rights-under-equality-act-2010">9 protected characteristics of the Equality Act 2010</a>
- who do not have access to the internet
- do not have the skill or confidence to use digital technology
- Other vulnearble and potentially excluded groups outside of the 9 protected characteristics

As part of your desk and primary research you need to understand which groups may be affected in your service or policy area. 

<blockquote>
For example, it is known from previous reesrach that poorer pupils in homes without broadband connectivity issues had difficulty with remote learning during the COVID-19 pandemic.

Therfore, if you were working on a service around learning materials in schools, it might be important to research with young poeple who live in homes without a broadband connection.
</blockquote>

Across your research you should include a wide range of people from different groups. As a simple rule of thumb, we recommend that in each round of research you include at least 1 person with a disability, or from a minority background or vulnerable group.


## Where do I start?

Before you start primary research, you should conduct desk research, look for departmental and other data about potential service users, and speak to your policy colleagues to understand their policy intent and what they already know about excluded groups.

## How do I recruit particpants inclusively?

Make sure you include a range of users in your recruitment, building this in to your <a href="" style="background:yellow !important">recruitment briefs</a>, and keeping a record of the characteristics of users you have spoke to over a phase of your project.

In the future we want to develop a department-wide participant recruitment strategy and service (<a href="/-about-ur-at-dfe/developing-ur-profession.html">see our professsion roadmap</a>). 

For now, be creative: are there charities, support services, local groups, etc that you could build a relationship with to connect you with users? Are there places where users go where you could run <a href="https://www.gov.uk/service-manual/user-research/doing-pop-up-research">pop-up research</a>?

## Challenges of inclusive research

As well as recruitment of particpants, there can be other practical challenges of researching inclusively. For example, you may need to procure translation services for people who don't speak English, or who use British Sign Language., It's important to ensure you have the budget for this in your team, and that you are planning well in advance (we plan to have centrally contracted translation services in the future).

You should be flexible and keep an agile mindset as you plan your research and recruit participants: be ready to adjust how you are researching based on the people you are researching with.

Researching with groups that we are not familiar withourselves can feel uncomfortable or intimidating. Doing preparatory research, or speaking to people who work with those groups can help.

As with all research, we are likely to bring our own biases and assumptions into inclusive research. Always be aware of this, look out for potential biases in yourself and your team, and challenge them.

## Ethics of researching with excluded groups

We are working on full ethics guidance and standards for inclusive research. 


For now, consider the following:

- Keep up to date with new research and blogs as it will help your research approach. NHS Digital and DHOSC regularly publish their findings

- Complete departmental diversity training and apply it in your research

- Many recruitment agencies find it difficult to recruit excluded groups. Try building relationships with the voluntary sector, e.g. charities, organisations providing support for young people and the school workforce, unions, etc. Some excluded citizens are going through financial hardship and find support through charities, community centres and food banks. These are organisations of trust and can be a gateway to get the citizens you need for research

- Use simple language -  do not use jargon or complex language. Some people may need more time to understand things and need different research materials

- If people don't understand research, the may struggle to understand what we are asking for when gathering consent. Make sure you are <a href="/-standards-and-guidance/ethical-standards/informed-consent.html">gathering consent in an appropriate way</a>

- Plan for digital exclusion - people from poorer backgrounds might not have the same technology as you or might be offline

- Really think about which of your questions could cause anxiety, upset or offence in some people. Think of the worst interpretation of your questions, and how they could be understood by people with different experiences.

- Be careful not to stigmatise ethnic minority people, however well-intentioned your research is

- Be considerate - there may be noise, people may have caring responsibilities, and English may not be their first language. Know that people are busy - some people have caring responsibilities and full-time jobs. Be flexible with your time, you’ll often get rich insights unexpectedly 

- Be specific - people have different needs and experiences. Broad terms like BAME are unhelpful and ignore the different needs and experiences each of us has

- Make it clear that you’re not asking questions to catch them out. Recognise your participants as lived experience experts and compensate them for their time

- Remember that some people who already feel excluded by government services, or who have had bad experiences, may not trust government, and so may feel particularly nervous about taking part in our research

- Make clear what your research is about and that their feedback is valuable. People from excluded groups may have more questions about your research, your serice area or policy area. Work with your policy colleagues beforehand to decide what you should and shouldn't tell people


## Help us develop this guidance

If you are interested in getting invloved with this work, contact our <a href="/-about-ur-at-dfe/">ethics working group</a>. We want to be the exemplar department in government for inclusive research, and we'd love you to get involved with making this happen. 

