---
title: Ethics advisory group
weight: 20
---

<%= partial "ga" %>

# Ethics advisory group

The ethics advisory group is made up of volunteers from across the user research community, who are members of the ethics working group ('Ethics club').

You can ask them advice on ethical issues related to user research. <a href="https://join.slack.com/share/enQtNDUwMjI2MDIxNDUzMS05M2FmZWUzNWYwNTE0ZTJlZTJjZmI1YWI2ZGZjMDg2MDA1MTZiM2M0MDI4M2U0YmZhZmZiZmVlYWYwMTcwOWNkm">Contact them in the #ethicsadvisorygroup DfE Slack channel</a>. They aim to reply within 3 working days.

<blockquote>
<p>Get involved: every user researcher is welcome to <a href="/-about-ur-at-dfe/working-groups-and-interest-groups.html">join Ethics Club</a>.</p>
</blockquote>
