---
title: Peer advice and assuring your research
weight: 300
---

<%= partial "ga" %>


<div class="dfe-hero">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-font-size-48"><%=current_page.data.title%></h1>
    <blockquote>
    <p>We're developing a framework of professional standards for user research, and a single department-wide peer review and assurance process for user research. See our <a href="/-about-ur-at-dfe/developing-ur-profession.html">profession roadmap</a>.</p>
    <p>Until then, use the advice below.</p>
    </blockquote>
      <p>It's important that you know that you are doing a good job, and that your team and stakeholders can be confident that our work meets and exceeds standards</a>. 
      <p>As well as meeting the service standard, your research must always be <strong>ethical</strong>, <strong>legal</strong> and <strong>safe</strong>. Use the standards in this website where they have already been developed. Until then, you should aim to meet other existing industry standards, like those of the <a href="https://www.mrs.org.uk/">Market Research Society</a>.
      <h2 class="govuk-heading-m govuk-!-margin-top-9">Meeting professional standards</h2>
        <div class="cards card-thirds">
        <ul>
         <li class="card">
            <div class="text">
              <h3>
                <a href="https://apply-the-service-standard.education.gov.uk/">Apply the Service Standard in DfE website</a>
              </h3>
              <p>Guidance and information for how to apply the Government Service Standard to design and build accessible, usable and understandable services in DfE.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Peer support</h2>
     <div class="cards card-thirds">
        <ul>
            <li class="card">
              <div class="text">
                <h3>
                  <a href="/-about-ur-at-dfe/people.html">Get advice from the community</a>
                </h3>
                <p>For advice on planning or delivering high quality research, reach out to the community or leadership team.</p>
              </div>
            </li>
            <li class="card">
              <div class="text">
                <h3>
                  <a href="https://join.slack.com/share/enQtNDUwMjI2MDIxNDUzMS05M2FmZWUzNWYwNTE0ZTJlZTJjZmI1YWI2ZGZjMDg2MDA1MTZiM2M0MDI4M2U0YmZhZmZiZmVlYWYwMTcwOWNkm">Contact the Ethics Advisory Group</a>
                </h3>
                <p>Contact the Ethics Advisory Group for advice on ethical issues related to user research.</p>
              </div>
            </li>
        </ul>
    </div>
  </div>
</div>
