---
title: Meeting the service standard in user research
weight: 10
---

<%= partial "ga" %>

<a href="/-principles/" class="govuk-back-link">Back to Peer advice and assuring your research</a>

# Meeting the service standard in user research

All user research at Department for Education must meet the relevant points in the <a href="https://www.gov.uk/service-manual/service-standard">government service standard</a>.

Following the advice on this website will help you meet the service standard. You should also follow the advice and guidance on the <a href="https://apply-the-service-standard.education.gov.uk/service-standard/#content">Apply the Service Standard in DfE website</a>.

## Service assessments

The service you are working on may go through a service assessment. This is where you show your service to a group of peers, including a user researcher, and talk about your work. More informaiton about this is in the <a href="https://apply-the-service-standard.education.gov.uk/service-standard/#content">Apply the Service Standard in DfE website</a>.

Even if your work isn't formally assessed, it should still meet the standard. You can always ask for advice or for your work to be peer reviewed or informally assessed by another user researcher, a lead user researcher, or the head of user research.