---
title: Finding existing research
weight: 20
---

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-85FBSF3SP6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-85FBSF3SP6');
</script>

<div class="dfe-hero">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-font-size-48"><%=current_page.data.title%></h1>
      <p>Sources of evidence and research you can use to build domain knowledge, gain a deeper understanding of your users and corroborate your findings.</a>
      <h2 class="govuk-heading-m govuk-!-margin-top-9">Research evidence sources</h2>
        <div class="cards card-thirds">
        <ul>
         <li class="card">
            <div class="text">
              <h3>
                <a href="https://docs.google.com/spreadsheets/d/141_Aybhz7XN3F-EyrIN3hei4TJMR0NEa9ZHsGqZF5Ew/edit?usp=sharing">Desk research sources directory</a>
              </h3>
              <p>A list of evidence sources for conducting secondary, desk-based research.</p>
            </div>
          </li>
          <li class="card">
            <div class="text">
              <h3>
                <a href="https://researchevidence.education.gov.uk/">Researching Evidence Directory (RED) <strong class="govuk-tag">INTERNAL</strong></a>
              </h3>
              <p>The department's central research library, which contains findings and evidence from social and user research. </p>
            </div>
          </li>
          <li class="card">
            <div class="text">
              <h3>
                <a href="https://educationgovuk.sharepoint.com/:b:/r/sites/lvewp00071/SiteAssets/SitePages/Data-Directorate-Service-Catalogue/Data-Directorate-Service-Catalogue--As-Is----V2.pdf?csf=1&web=1&e=nxYr03">Data Directorate service catalogue <strong class="govuk-tag">INTERNAL</strong></a>
              </h3>
              <p>A catalogue of datasets and insights from the department's Data Directorate, as well as details on the products and services the directorate owns. </p>
            </div>
          </li>
              <li class="card">
            <div class="text">
              <h3>
                <a href="https://educationgovuk.sharepoint.com/:x:/r/sites/sarpi/g/WorkplaceDocuments/Publications%20and%20journals/Publications%20catalogue.xlsm?d=waa2ddc7c1dcf47a9a68e40187efe2ac3&csf=1&web=1&e=5Xmb96">DfE research catalogue <strong class="govuk-tag">INTERNAL</strong></a>
              </h3>
              <p>A catalogue of reports published by the Department for Education, organised by subject area and research question. </p>
            </div>
          </li>
    <li class="card">
            <div class="text">
              <h3>
                <a href="https://educationgovuk.sharepoint.com/sites/sarpi/g/SitePages/C.aspx">DfE's commissioned reports <strong class="govuk-tag">INTERNAL</strong></a>
              </h3>
              <p>A list of external research reports commissioned by the Department for Education. </p>
            </div>
          </li>
           <li class="card">
            <div class="text">
              <h3>
                <a href="https://educationgovuk.sharepoint.com/:p:/r/sites/sarpi/g/SiteAssets/AC/Induction%20Material/Research%20Knowlege%20Insight%20Unit.pptx?d=w8aff4b8822934dada6a436e0f2a629b4&csf=1&web=1&e=WfVFpD">Research Knowledge and Insight Team <strong class="govuk-tag">INTERNAL</strong></a>
              </h3>
              <p>Details of the department's Research Knowledge and Insight Team and how they can support researchers across the department. </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

