---
title: Tools, templates and resources
weight: 800
---

<%= partial "ga" %>

<div class="dfe-hero">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-font-size-48"><%=current_page.data.title%></h1>
      <p>The following tools and templates are available to user researchers in the department to help make your work more efficienct and to allow us to work in a joined up way.
      <h2 class="govuk-heading-m govuk-!-margin-top-9">Research tools and templates</h2>
        <div class="cards card-thirds">
        <ul>
         <li class="card">
            <div class="text">
              <h3>
                <a href="/-tools-and-templates/software-and-hardware.html">Specialist tools</a>
              </h3>
              <p>Guidance on using specialist software and hardware for user research.</p>
            </div>
          </li>
          <li class="card">
            <div class="text">
              <h3>
                <a href="/-tools-and-templates/using-3rd-party-labs.html">Third-party research labs</a>
              </h3>
              <p>Guidance on using and paying for third-party research labs.</p>
            </div>
          </li>
          <li class="card">
            <div class="text">
              <h3>
                <a href="/-tools-and-templates/templates.html#content">Templates, examples and resources library</a>
              </h3>
              <p>A range of templates and best practice examples for you to use in your research.</p>
            </div>
          </li>
          <li class="card">
            <div class="text">
              <h3>
                <a href="/-tools-and-templates/finding-existing-research.html">Finding existing research</a>
              </h3>
              <p>Practical guidance for finding previous user research and other research inside and outside of the department.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

