---
title: Specialist software and hardware
weight: 1
last_reviewed_on: 2022-10-21
review_in: 1 year
---

<%= partial "ga" %>

# Specialist software and hardware

There are a range of tools you will need when conducting user research. Some of these 

## Laptops and access to DfE systems

If you are a civil servant DfE user researcher, our standard laptops aren't always powerful enough for tasks like video editing, or some specialist software. Instead, you can order a more powerful laptop. <a href="https://dfe.service-now.com/serviceportal" target=_blank>Go to the Service Portal and search for 'Power device'.</a>

There are certain DfE internal tools and services (including some that you might need for desk research, like our the Department's Research and Evidence Directory, and some data dashboards) that can only be accessed by civil servants, or by contractors with a DfE laptop. If you are a contractor who needs to access these services, then you can ask a civil servant in your team, or you can ask your Delivery Manager to arrange for you to be loaned a DfE laptop.

## Specialist software and online tools

There are some specialist user research software and online tools that are available to all user researchers. The current list is on the <a href="https://sites.google.com/digital.education.gov.uk/digitaltools/home?authuser=0">Digital Tools Support team website</a>. You can contact that team for more support in the <a href="https://ukgovernmentdfe.slack.com/archives/CMS9V0JQL">Digital Tools Support Slack channel</a> 

There may be a cost to your team for these tools, so speak to your Delivery Manager first.

You can also speak to the Digital Tools Support team about buying licenses for other software or online services. They can tell you what you and your Delivery Manager will need (e.g. a business case and budget approval). If the software or sevrice doesn't already have data and This process can sometimes take a few weeks, so leave plenty of time to do this.

You can also contact them if a tool you need to use is not available, or if you already have access to digital tools and have questions.


<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    To avoid security incidents and data risks, you must never install any software, or use any web service that collects personal data, if it hasn't been already gained DfE data protection and security assurance.
  </strong>
</div>

## Other tools

We don't currently have any centrally available tools like video cameras, dictaphones, etc. We're working on this (see our profession roadmap).

For now, if you need these, you can buy them with your team or programme area's budget. Your Delivery Manager can help you with this.
