---
title: Templates, examples and resources library
weight: 10
last_reviewed_on: 2022-12-21
review_in: 6 months
---


<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-85FBSF3SP6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-85FBSF3SP6');
</script>

<a href="index.html" class="govuk-back-link">Back to Tools, templates and resources</a>

<div id="search-results"></div>

<div class="dfe-hero">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-xl govuk-!-font-size-48"><%=current_page.data.title%></h1>
      <blockquote>
        <p><strong class="govuk-tag">Beta</strong> We're working on this content. It will change over time. Your <a href="/give-feedback.html">feedback and ideas</a> will help develop it</p>
      </blockquote>
      <p class="govuk-body-l">We have a library of templates, examples of good work, and other resources, available to Department for Education civil servant or contractor user researchers.</p>
      <p> To access any resource marked as <strong class="govuk-tag">INTERNAL</strong>, you will need to be set up with a Department for Education email address, with access to our Google drives. <a href="https://ukgovernmentdfe.slack.com/archives/CMS9V0JQL" target="_blank">To get access, speak to your delivery manager and then the Specialist Tools team, via their Slack channel</a>.</p>
    </div>
  </div>
</div>

<div class="dfe-section-grey">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">Templates library</h2>
      <p>Templates to save you time when doing common tasks.</p>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <div class="cards cards-single">
        <ul>
          <li class="card" style="cursor: pointer;">
            <div class="text">
              <h3><a href="https://educationgovuk.sharepoint.com/:w:/r/sites/lvewp00449/WorkplaceDocuments/2.%20Templates/User%20Research%20Plan%20Template.docx?d=w7198a58414a2548e114910a7d5457b65&csf=1&web=1&e=IXy14w">User research planning template <strong class="govuk-tag">INTERNAL</strong></a></h3>
            </div>
          </li>
          <li class="card" style="cursor: pointer;">
            <div class="text">
              <h3><a href="https://educationgovuk.sharepoint.com/:f:/r/sites/lvewp00449/WorkplaceDocuments/2.%20Templates%20and%20resources/Participant%20recruitment/Recruitment%20supplier%20templates%20and%20process?csf=1&web=1&e=q2hhd1">Commercial templates for accessing our recruitment supplier <strong class="govuk-tag">INTERNAL</strong></a></h3>
            </div>
          </li>
          <li class="card" style="cursor: pointer;">
            <div class="text">
              <h3><a href="https://educationgovuk.sharepoint.com/:f:/r/sites/lvewp00449/WorkplaceDocuments/2.%20Templates/2.%20Consent%20forms?csf=1&web=1&e=9Idp1e">Consent forms <strong class="govuk-tag">INTERNAL</strong></a></h3>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">Examples library</h2>
      <p>Examples of different types of user research output and documentation, to help and inspire you.</p>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <div class="cards cards-single">
        <ul>
          <li class="card" style="cursor: pointer;">
            <div class="text">
              <h3><a href="https://educationgovuk.sharepoint.com/:f:/r/sites/lvewp00449/WorkplaceDocuments/3.%20Examples%20of%20work?csf=1&web=1&e=7Cbvy9">Examples library <strong class="govuk-tag">INTERNAL</strong></a></h3>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">Examples library</h2>
      <p>Examples of different types of user research output and documentation, to help and inspire you.</p>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <div class="cards cards-single">
        <ul>
          <li class="card" style="cursor: pointer;">
            <div class="text">
              <h3><a href="https://educationgovuk.sharepoint.com/:f:/r/sites/lvewp00449/WorkplaceDocuments/3.%20Examples%20of%20work?csf=1&web=1&e=Jrzgdq">Example outputs e.g. journey maps, personas, research findings decks <strong class="govuk-tag">INTERNAL</strong></a></h3>
            </div>
          </li>
          <li class="card" style="cursor: pointer;">
            <div class="text">
              <h3><a href="https://educationgovuk.sharepoint.com/:f:/r/sites/lvewp00449/WorkplaceDocuments/3.%20Examples%20of%20work/Screeners?csf=1&web=1&e=xNi8NV">Examples of screeners <strong class="govuk-tag">INTERNAL</strong></a></h3>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">Other resources</h2>
      <p>Various other resources, across a number of different topics.</p>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <div class="cards cards-single">
        <ul>
          <li class="card" style="cursor: pointer;">
            <div class="text">
              <h3><a href="https://educationgovuk.sharepoint.com/:f:/r/sites/lvewp00449/WorkplaceDocuments/5.%20Resources?csf=1&web=1&e=Rb5kZ5">Various other resources <strong class="govuk-tag">INTERNAL</strong></a></h3>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

</div>





