---
title: Template and examples library
weight: 10
---


<%= partial "ga" %>

<div class="app-pane__content toc-open-disabled">
          <main id="content" class="technical-documentation" data-module="anchored-headings">
            <!-- Global site tag (gtag.js) - Google Analytics -->

<script async="" src="https://www.googletagmanager.com/gtag/js?id=G-K11EVHSR12"></script>

<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-K11EVHSR12');
</script>

<div id="search-results"></div>

<div class="dfe-hero">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-xl govuk-!-font-size-48">Template and examples library</h1>
      <p class="govuk-body-l">Department for Education templates for user researchers. </p>
      <p> To access resources marked as <strong class="govuk-tag"> INTERNAL</strong>, you will need to be set up on the department's intranet and/or Google Drive. To request access, contact the Research Operations team using the <a href="https://ukgovernmentdfe.slack.com/archives/C03SZ2JMXPW" target="_blank">#research-operations-support channel</a> in Slack. </p>
    </div>
    <div class="govuk-grid-column-one-quarter standards-icon">
    </div>
  </div>
</div>

<div class="dfe-section-grey">

<div class="govuk-grid-row">
<div class="govuk-grid-column-one-third">
<h2 class="govuk-heading-m">Recruitment</h2>
<p>Templates to help you recruit user research participants.</p>
</div>

<div class="govuk-grid-column-two-thirds">
  <div class="cards cards-single">
      <ul>
        <li class="card" style="cursor: pointer;">
          <div class="text">
            <h3>
              <a href="/service-standard/1-understand-user-needs.html"> Statement of Work <strong class="govuk-tag">INTERNAL</strong></a>
            </h3>
          </div>
        </li>
          <li class="card" style="cursor: pointer;">
          <div class="text">
            <h3>
              <a href="/service-standard/2-solve-a-whole-problem.html">Participant screener <strong class="govuk-tag">INTERNAL</strong></a></a>
            </h3>
          </div>
        </li>
        <li class="card" style="cursor: pointer;">
          <div class="text">
            <h3>
              <a href="/service-standard/3-join-up-across-channels.html">External research consent form <strong class="govuk-tag">INTERNAL</strong></a></a></a>
            </h3>
          </div>
        </li>
        <li class="card" style="cursor: pointer;">
          <div class="text">
            <h3>
              <a href="/service-standard/4-make-the-service-simple-to-use.html">Internal research consent form <strong class="govuk-tag">INTERNAL</strong></a></a></a>
            </h3>
          </div>
        </li>
        <li class="card" style="cursor: pointer;">
          <div class="text">
            <h3>
              <a href="/service-standard/5-make-sure-everyone-can-use-the-service.html">Participant information sheet <strong class="govuk-tag"> INTERNAL</strong></a></a></a>
            </h3>
          </div>
        </li>
        </ul>
        </div>
  </div>
</div>
<p></p><hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"><p></p>

<div class="govuk-grid-row">
<div class="govuk-grid-column-one-third">
<h2 class="govuk-heading-m">Research governance</h2>

<p>Templates to help you be legally compliant.</p>
</div>

<div class="govuk-grid-column-two-thirds">
  <div class="cards cards-single">
      <ul>
        <li class="card" style="cursor: pointer;">
            <div class="text">
              <h3>
                <a href="/service-standard/6-have-a-multidisciplinary-team.html">Accessibility statement <strong class="govuk-tag">INTERNAL</strong></a></a></a>
              </h3>
            </div>
          </li>
          <li class="card" style="cursor: pointer;">
            <div class="text">
              <h3>
                <a href="/service-standard/7-use-agile-ways-of-working">DPIA forms <strong class="govuk-tag">INTERNAL</strong></a></a></a>
              </h3>
            </div>
          </li>
          <li class="card" style="cursor: pointer;">
            <div class="text">
              <h3>
                <a href="https://educationgovuk.sharepoint.com/sites/lvewp00002/SitePages/sar-templates.aspx" target=_blank>Subject Access Request response <strong class="govuk-tag">INTERNAL</strong></a></a></a>
              </h3>
            </div>
          </li>
          <li class="card" style="cursor: pointer;">
            <div class="text">
              <h3>
                <a href="/service-standard/9-create-a-secure-service.html">Risk assessment <strong class="govuk-tag">INTERNAL</strong></a></a></a>
              </h3>
            </div>
          </li>
        </ul>
        </div>
  </div>
</div>
<p></p><hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"><p></p>

<div class="govuk-grid-row">
<div class="govuk-grid-column-one-third">
<h2 class="govuk-heading-m">Research tools and methods</h2>

<p>Templates to help you do effective and strategic research.</p>
</div>

<div class="govuk-grid-column-two-thirds">
  <div class="cards cards-single">
      <ul>
        <li class="card" style="cursor: pointer;">
            <div class="text">
              <h3>
                <a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vSpPEJIopVeyFyM27D7xlQMpYPlMIDiCg767G-qBW0n79Bxw9LnUOHyvGyTKKv6gGlbEwDR269p95Xg/pubhtml target=_blank">Desk research sources catalogue</a> <strong>
      
</div>
