---
title: Templates, examples and resources library
weight: 10
---


<%= partial "ga" %>

<a href="index.html" class="govuk-back-link">Back to Tools, templates and resources</a>

<div id="search-results"></div>

<div class="dfe-hero">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-xl govuk-!-font-size-48"><%=current_page.data.title%></h1>
      <blockquote>
        <p><strong class="govuk-tag">Beta</strong> We're working on this content. It will change over time. Your <a href="/give-feedback.html">feedback and ideas</a> will help develop it</p>
      </blockquote>
      <p class="govuk-body-l">We have a library of templates, examples of good work, and other resources, available to Department for Education civil servant or contractor user researchers.</p>
      <p> To access any resource marked as <strong class="govuk-tag">INTERNAL</strong>, you will need to be set up with a Department for Education email address, with access to our Google drives. <a href="https://ukgovernmentdfe.slack.com/archives/CMS9V0JQL" target="_blank">To get access, speak to your delivery manager and then the Specialist Tools team, via their Slack channel</a>.</p>
    </div>
  </div>
</div>

<div class="dfe-section-grey">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">Templates library</h2>
      <p>Templates to save you time when doing common tasks.</p>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <div class="cards cards-single">
        <ul>
          <li class="card" style="cursor: pointer;">
            <div class="text">
              <h3><a href="https://docs.google.com/document/d/1a8WkgExg3Fzc-tU6HibNZpMZ_TZzxX9L/edit?usp=share_link&ouid=104608651432338009886&rtpof=true&sd=true">User research planning template <strong class="govuk-tag">INTERNAL</strong></a></h3>
            </div>
          </li>
          <li class="card" style="cursor: pointer;">
            <div class="text">
              <h3><a href="https://drive.google.com/drive/folders/1LoiwtQGffjeXcG_2KJYq_ZryzAhgtdgO">Commercial templates for accessing our recruitment supplier <strong class="govuk-tag">INTERNAL</strong></a></h3>
            </div>
          </li>
          <li class="card" style="cursor: pointer;">
            <div class="text">
              <h3><a href="https://drive.google.com/drive/folders/1skggRtwkUBwbKuJaXoiFqeZZpqPsaEDT">Consent forms <strong class="govuk-tag">INTERNAL</strong></a></h3>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">Examples library</h2>
      <p>Examples of different types of user research output and documentation, to help and inspire you.</p>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <div class="cards cards-single">
        <ul>
          <li class="card" style="cursor: pointer;">
            <div class="text">
              <h3><a href="https://drive.google.com/drive/folders/1tOGNo365E80LhxCKbeqs6TXB3rGyqpUn">Examples library <strong class="govuk-tag">INTERNAL</strong></a></h3>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">Examples library</h2>
      <p>Examples of different types of user research output and documentation, to help and inspire you.</p>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <div class="cards cards-single">
        <ul>
          <li class="card" style="cursor: pointer;">
            <div class="text">
              <h3><a href="https://drive.google.com/drive/folders/1tOGNo365E80LhxCKbeqs6TXB3rGyqpUn">Example outputs e.g. journey maps, personas, research findings decks <strong class="govuk-tag">INTERNAL</strong></a></h3>
            </div>
          </li>
          <li class="card" style="cursor: pointer;">
            <div class="text">
              <h3><a href="https://drive.google.com/drive/folders/1tly5WddcOVeVV1Csqfmx2giS-yYlGiIH">Examples of screeners <strong class="govuk-tag">INTERNAL</strong></a></h3>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">Other resources</h2>
      <p>Various other resources, across a number of different topics.</p>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <div class="cards cards-single">
        <ul>
          <li class="card" style="cursor: pointer;">
            <div class="text">
              <h3><a href="https://drive.google.com/drive/folders/13jmOYII8Aq-PsrlrzlN1KpUl1ZhAp6Db">Various other resources <strong class="govuk-tag">INTERNAL</strong></a></h3>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

</div>





