---
title: User research as a civil servant in Department for Education
weight: 100
---

<%= partial "ga" %>

<div class="dfe-hero">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-font-size-48"><%=current_page.data.title%></h1>
      <p>As well as observing the Civil Service code, the department expects all staff to have high standards of behaviour and conduct. All employees have a responsibility to manage themselves and their staff in line with <a href="https://educationgovuk.sharepoint.com/sites/human-resources/SitePages/Conduct-and-behaviour.aspx" target=_blank>the department’s policies and procedures</a>. 
<p>
As user researchers in the department, we work to a <a href="/-principles/">set of agreed principles</a> which help to guide us in our work. 
<p>
By applying these principles, we can ensure we’re working in line with the Civil Service code, the department’s expectations of us as employees, while also delivering a consistent approach to user research in the department, helping to deliver <a href="https://educationgovuk.sharepoint.com/sites/our-department/SitePages/strategy-and-vision.aspx" target=_blank>the department’s strategy and vision</a> to: 
<uL>
<li>put children and learners first
<li>empower yourself and others
<li>be data, evidence and expertise driven 
<li>deliver joined up results</p>
</ul>
      <h2 class="govuk-heading-m govuk-!-margin-top-9">How we work</h2>
        <div class="cards card-thirds">
        <ul>
         <li class="card">
            <div class="text">
              <h3>
                <a href="/-ethics-safeguarding-inclusive/user-research-in-civil-service/pre-election-periods.html">Researching in pre-election periods</a>
              </h3>
              <p>The restrictions and regulations we must work within during pre-election periods.</p>
            </div>
          </li>
          <li class="card">
            <div class="text">
              <h3>
                <a href="/-ethics-safeguarding-inclusive/user-research-in-civil-service/civil-service-code.html">Researching under the Civil Service code</a>
              </h3>
              <p>Guidance on how to perform user research in line with the Civil Service code. </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

