---
title: User research as a civil servant in Department for Education
weight: 100
---

<%= partial "ga" %>

# User research as a civil servant in Department for Education

As well as observing the Civil Service code, the department expects all staff to have high standards of behaviour and conduct. All employees have a responsibility to manage themselves and their staff in line with <a href="https://educationgovuk.sharepoint.com/sites/human-resources/SitePages/Conduct-and-behaviour.aspx" target=_blank>the department’s policies and procedures</a>. 

As user researchers in the department, [we work to a set of agreed principles](/our-principles.html) which help to guide us in our work. By applying these principles, we can ensure we’re working in line with the Civil Service code, the department’s expectations of us as employees, while also delivering a consistent approach to user research in the department, helping to deliver <a href="https://educationgovuk.sharepoint.com/sites/our-department/SitePages/strategy-and-vision.aspx" target=_blank>the department’s strategy and vision</a> to: 

<li>put children and learners first
<li>empower yourself and others
<li>be data, evidence and expertise driven 
<li>deliver joined up results