---
title: Inclusive research
weight: 500
---

<%= partial "ga" %>

<div class="dfe-hero">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-font-size-48"><%=current_page.data.title%></h1>
      <p>Inclusive research means including in your research all types of people who might need to use your service or who might be affected by your policy area.</a>. 
      <h2 class="govuk-heading-m govuk-!-margin-top-9">Doing inclusive research</h2>
        <div class="cards card-thirds">
        <ul>
         <li class="card">
            <div class="text">
              <h3>
                <a href="what-is-inclusive-research.html">What is inclusive research?</a>
              </h3>
              <p>An introduction to inclusivity and why we must do inclusive research.</p>
            </div>
          </li>
          <li class="card">
            <div class="text">
              <h3>
                <a href="researching-users-access-needs.html">Researching access needs</a>
              </h3>
              <p>Guidance on how and when to do research with users with access needs. </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

