---
title: Power devices
weight: 10
last_reviewed_on: 2022-10-21
review_in: 1 year
---

<%= partial "ga" %>
<script src="https://kit.fontawesome.com/f3917b32f1.js" crossorigin="anonymous"></script>

# Power devices

The Power Device programme is designed to ensure that Civil Servants in specialist roles within DfE (including user researchers) are able to access more powerful devices which allow them to better do their work.

The programme allows users to request a more powerful and higher-spec Windows machine, or a Macbook to replace their existing standard device.

 Requests must be underpinned by genuine business need and/or must be to replace inadequate existing kit (for example, Surface Pros which are 4 years or older and pose a security risk, or with insufficient spec to run required software for research).

## Requesting a power device

Requests can be made via <a href="https://dfe.service-now.com/serviceportal?id=sc_cat_item&sys_id=e44164eb1bd64d10b192ec69b04bcbe0&sysparm_category=e5220fe6db2f8340865049ee3b9619df" target=_blank>the Service Portal Power Devices form</a>.

Requests for power devices should only be submitted following a discussion with one of the Lead User Researchers in your portfolio, or if you don’t have a Lead, you should discuss your requirements with the Head of User Research.

Please note that requests will be prioritised based on need and project urgency if there are limited devices available.

<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive"></span>
Requests for power devices cannot be solely based on preference
  </strong>
</div>

## Existing Macbooks

Some user researchers in the department already have access to Macbooks which were previously purchased by individual business areas. 

If you currently have two devices (your Macbook and your Surface Windows device), you can ask to have your existing Macbook rebuilt so it can access all DfE services, allowing your Windows device to be returned to the department. 

Requests for a rebuild of an existing Macbook can be made by filling in <a href="https://dfe.service-now.com/serviceportal?id=sc_cat_item&sys_id=3ab186f8db2c2b403b929334ca961998&sysparm_category=19d07bc3dbff17003b929334ca9619bd" target=_blank>a non-standard request form via the Service Portal</a>. 