---
title: Ethical research guidance
weight: 500
---

<%= partial "ga" %>

<div class="dfe-hero">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-font-size-48"><%=current_page.data.title%></h1>
      <p>Treating our participants ethically is a fundamental part of doing good user research at DfE. <a href="https://www.nngroup.com/articles/user-research-ethics/">Nielsen Norman defines user research ethics as "the careful consideration of the rights, well-being, and dignity of people involved in research activities"</a>. Doing our user research ethically means we treat our users well, keep our teams and DfE protected, and will also help ensure our teams create services that treat our users ethically.</p>
        <div class="cards card-thirds">
        <ul>
         <li class="card">
            <div class="text">
              <h3>
                <a href="social-media-in-research.html">Using social media</a>
              </h3>
              <p>Guidance on getting the most out of social media in user research and how not to use it.</p>
            </div>
          </li>
          <li class="card">
            <div class="text">
              <h3>
                <a href="internal-research.html">Internal research</a>
              </h3>
              <p>Guidance on how to do ethically sound research with internal users.</p>
            </div>
          </li>
            <li class="card">
            <div class="text">
              <h3>
                <a href="children-young-people.html">Research with children and young people</a>
              </h3>
              <p>Guidance on some of the key ehical considerations when researching with children and young people. </p>
            </div>
          </li>
          <li class="card">
            <div class="text">
              <h3>
                <a href="informed-consent.html#content">Getting informed consent</a>
              </h3>
              <p>Guidance on getting fully informed consent from participants in user research. </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Get involved</h2>
     <div class="cards card-thirds">
        <ul>
            <li class="card">
              <div class="text">
                <h3>
                  <a href="working-groups-and-interest-groups.html">Join the Ethics working group</a>
                </h3>
                <p>Join the Ethics working group to help shape the future of the guidance in this section.</p>
              </div>
            </li>
            <li class="card">
              <div class="text">
                <h3>
                  <a href="https://join.slack.com/share/enQtNDUwMjI2MDIxNDUzMS05M2FmZWUzNWYwNTE0ZTJlZTJjZmI1YWI2ZGZjMDg2MDA1MTZiM2M0MDI4M2U0YmZhZmZiZmVlYWYwMTcwOWNk">Contact the Ethics Advisory Group</a>
                </h3>
                <p>Contact the Ethics Advisory Group for advice on ethical issues related to user research.</p>
              </div>
            </li>
        </ul>
    </div>
  </div>
</div>
