---
title: Building a recruitment panel
weight: 500
---

<%= partial "ga" %>

# Building a recruitment panel


<blockquote>
    <p><strong class="govuk-tag">Beta</strong> Our User Research Operations team are developing a participant recruitment strategy for the department that will include a single, centrally-managed particpant recruitment panel for all user researchers to use (see our <a href="developing-ur-profession.html">profession roadmap</a>).</p>
    <p>Until then, you should follow the guidance on this page.</p>
</blockquote>

A recruitment panel is a managed list or database of people who have expressed an interest in taking part in research, by sharing some of their details with us. This allows us to invite them to participate in user research sessions appropriate to them.

A panel will generally have a form that allows people to add their details, although you could manage this yourself manually, using email or phone.

A panel isn't the same as a list: a list of potential users is something you can manage yourself (ensuring you are following departmental data practises). A panel is a longer-term investment, and can be a lot of effort to do properly and to maintain over time. Because of this, it should be done for a programme or portfolio of work, not just for a single team.

You should carefully consider whether building a participant recruitment panel is the right approach for your programme or portfolio of work.

## Should you build a panel?

Before deciding to build a panel, you should always check whether anybody else in teh department already has a panel covering the same user group. (Check with our <a href="/about-ur-at-dfe/working-groups-and-interest-groups.html">working groups</a> and by asking in the <a href="/about-ur-at-dfe/communities-of-practice.html">main user research community Slack channel</a>.)

If another user researcher, team or programme area already manages an existing panel that includes your users, you should first explore collaborating with them, rather than creating a new panel. This will avoid duplication of users (i.e. the risk of contacting the same users twice) and reduce duplication of effort across the user research community.

If other user researchers in your programme, portfolio or elsewhere in DfE will be using your panel to recruit participants, you will need processes for how they will access the data in a secure way. You might decide to have a person or group of people who are responsible for doing this.

Attracting people to your panel for them to sign up can take a lot of work. You can put banners on your service if it's hosted by DfE (not if hosted on GOV.UK). You can email lists of people that you have access to in your team, as long as these people have consented to be contacted. You mustn't currently use social media.

You can also visit places that your users attend (e.g. workplaces, conferences, etc) and let them sign up in person, as long as you have agreement from the venue to do this.

## What to do, and what not to do

<strong class="govuk-tag">Must</strong> - If you decide to build your own panel, you <strong>must</strong>:

* Always follow departmental data management practises, to ensure you are collecting and managing your data in a GDPR-compliant way. You will need to obtain a data protection impact assessment (DPIA) for your panel
* Ensure any person whose data are kept in your panel or list has consented to this happening
* Ensure your consent and privacy notice are not specific to your own team and service (so that other user researchers could use this data, and so we can migrate the user data into a centrally-managed panel in the future)
* Use existing departmental software (e.g. Microsoft products) where possible
* Ensure your sign-up form is accessible (and has been tested with users with access needs)
* Ensure you have a channel or method for people with low digital skills to sign up to your panel (i.e. don't just use an online form)

<strong class="govuk-tag">Must not</strong> - If you decide to build your own panel, you <strong>must not</strong>:

* Advertise it on social media (we're currently developing guidance for using social media)
* Buy specialist panel or particpant management software (this software may be superseded, and the money may be wasted, when we introduce the centrally managed panel)