---
title: Recruiting participants for research
weight: 700
---

<%= partial "ga" %>

<div class="dfe-hero">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-font-size-48"><%=current_page.data.title%></h1>
      <p>From selecting the right recruitment strategy to choosing an appropriate sample size, getting participant recruitment right can help to make your research more efficient and impactful. The following guidance can help you to recruit the right people for your research.</p>
      <h2 class="govuk-heading-m govuk-!-margin-top-9">Recruitment guidance</h2>
        <div class="cards card-thirds">
        <ul>
         <li class="card">
            <div class="text">
              <h3>
                <a href="sample-bias.html">Sampling to avoid bias</a>
              </h3>
              <p>Practical guidance on effectively sampling participants to avoid bias in your research.</p>
            </div>
          </li>
          <li class="card">
            <div class="text">
              <h3>
                <a href="writing-a-recruitment-brief.html">Writing a recruitment brief</a>
              </h3>
              <p>Guidance to help you write an effective recruitment brief to find the right participants for your research.</p>
            </div>
          </li>
          <li class="card">
            <div class="text">
              <h3>
                <a href="building-a-recruitment-panel.html">Building a recruitment panel</a>
              </h3>
              <p>Guidance to help you decide whether a panel could help you in your recruitment strategy.</p>
            </div>
          </li>
          <li class="card">
            <div class="text">
              <h3>
                <a href="using-incentives.html">Using incentives</a>
              </h3>
              <p>Guidance on paying participants to take part in your research.</p>
            </div>
          </li>
          <li class="card">
            <div class="text">
              <h3>
                <a href="reducing-burden-on-users.html">Reducing burden on users</a>
              </h3>
              <p>Practical guidance for doing user research that doesn't create a burden for our users.</p>
            </div>
          </li>
          <li class="card">
            <div class="text">
              <h3>
                <a href="recruiting-people-yourself.html">Self-recruitment</a>
              </h3>
              <p>Guidance on how self-recruitment is done in the department and methods to avoid.</p>
            </div>
          </li>
          <li class="card">
            <div class="text">
              <h3>
                <a href="using-a-commercial-recruitment-agency.html#content">Recruting using an agency</a>
              </h3>
              <p>Guidance on how to recruit participants for research using a commercial recruiter.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
