---
title: Reducing burden on our users
weight: 60
last_reviewed_on: 2022-12-21
review_in: 6 months
---

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-85FBSF3SP6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-85FBSF3SP6');
</script>

# Reducing burden on our users

<a href="index.html" class="govuk-back-link">Back to Recruiting particpants for research</a>

<blockquote>
<p>This guidance is being developed. <a href="/-about-ur-at-dfe/working-groups-and-interest-groups.html">You can get involved to help</a>.</p>
</blockquote>

It's important that our research doesn't create a burden on our users: you must always ensure that any time and effort that we ask our users and their organisations to give to us is used well, and for the right reasons.

The department has produced <a href="https://educationgovuk.sharepoint.com/sites/lvewp00126">general guidance for reducing workload and improving wellbeing in schools</a> as part of delivering the <a href="https://www.gov.uk/guidance/education-staff-wellbeing-charter">Education staff wellbeing charter</a>. You should follow this advice if you are researching with school staff or teachers.