---
title: Sample bias and selecting the right sample of participants
weight: 70
---

<%= partial "ga" %>

# Sample bias and selecting the right sample of participants

Sampling is a science in its own right - and doing it well is even harder when you’re self-recruiting.

The way in which you choose participants has a massive bearing on the validity of your data and the representativeness of your findings. Good sampling sets the foundation for good research, and bad sampling can undermine the entire process and all of your outcomes.

Every piece of user research seeks to understand something about a group of people. That group of people can be referred to as a population - it could be ‘retired teachers in rural areas’, or ‘school-age children in deprived areas’. Whatever group you’re researching, there is a finite number of them to pick from. One of our jobs is to make sure that the people we speak to or gather data from are not only typical of the group we’re studying, but go the extra mile in ensuring we include those who may otherwise be excluded. 

Ask yourself:

- does the demographic makeup of our sample reflect that of the wider population within which we’re sampling?
- does the sample represent a range of protected characteristics?
- are we accounting for a range of accessibility and assisted digital needs?

## Types of sampling bias

There are five primary types of bias and one sample can suffer from multiple biases. These biases are:

### Undercoverage
Some members of a population are inadequately represented in the sample.

### Self-selection
When participants exercise complete control over the decision to participate, you may see a link between the characteristics of the participant and how they affect your research. Students who volunteer for your research are likely confident and may all report they feel confident about upcoming exams. You do not research with students who are nervous about exams as they did not put their hand up.

### Survivorship
When a sample concentrates on subjects who passed the selection criteria or process and ignores subjects who didn’t pass the selection process. E.g. you’re only researching with people who have made it through the gov.uk service and not those who failed to complete it.

### Pre-screening
The way participants are pre-screened or where a study is advertised may bias a sample. If you only advertise your study online, you’ll miss out on digitally excluded users.

### Healthy user
Participants who voluntarily enrol in clinical trials and follow the experimental regimen are more likely to already be healthier than those who don’t, and so the product/concept being tested is more likely to result in a positive outcome.

When we conduct self-recruitment of research participants, we are more liable to sampling bias for a few reasons. We’re unlikely to know, or have access to, the entire population of our intended user group, so we have a natural bias towards speaking to only those we know. I, for example, could conduct research with several of my teacher friends, but they are likely to reflect my age, background and ideology rather than a more representative sample. 

Further to that, because we don’t know (and can’t measure) the broader population, we’re less able to cross-reference the demographics of our sample with that of what they ‘should’ be. 

In that sense, self-recruitment is intrinsically scuppered by a pre-screening bias: if they’re one of your existing contacts, they have already been ‘screened’, and therefore their participation is much more likely than those who haven’t been screened.

## How to avoid sampling bias

So, if self-sampling is our only (or otherwise best) option for sampling, how can we ensure that our research is still as representative - and valid, and successful - as possible?

### 1. Plan in advance
It sounds obvious, but it gives you the best chance of success. From a sampling perspective, it’s difficult to make a project that’s reliant on self-recruitment a success - so do everything you can to plan for this eventuality and to avoid it. If that isn’t possible, you could try some of the suggestions below to mitigate some of the negative effects of sampling bias. 

### 2. Adopt a phased approach
This will allow you to start research with those you know, assess which areas of the population you may be lacking, then iterate and sample again.

### 3. Try snowball sampling
This involves using an initial tranche of research participants to recruit further participants and so on. Whilst this can be useful in expanding the scope of your sample and ensuring you don't only speak to people you have personally self-recruited (and therefore reduces some of the risk of underrepresentation), bear in mind that you'd potentially be kicking the can of sampling bias a little further down the road. 

### 4. Triangulate your findings
Again easier said than done, but is there any secondary analysis you can conduct to validate your findings? A literature review or a data analysis of external sources may help to contextualise your findings and provide insight into how on- or off-target your sample is.

### 5. If all else fails, caveat your findings
Make sure your audience understand the limitations of your research, and especially which user groups may have been over- or under-represented.

## Further reading

- <a href="https://www.premise.com/blog/sampling-bias-what-you-need-to-know/">What is Sampling Bias + 5 Types of Sampling Bias (Eric Vazquez, Premis.com)</a>
- <a href="https://www.questionpro.com/blog/sampling-bias/">Sampling Bias: What it is, Examples &amp; How to Avoid It (Questionpro.com)</a>
- <a href="https://www.scribbr.co.uk/bias-in-research/sampling-bias-explained/">Sampling Bias and How to Avoid It (Pritha Bhandari, Scribbr.co.uk)</a>
