---
title: Using incentives
weight: 50
---

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-85FBSF3SP6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-85FBSF3SP6');
</script>

# Using incentives

<a href="index.html" class="govuk-back-link">Back to Recruiting particpants for research</a>

<blockquote>
<p>This guidance is being developed. <a href="/-about-ur-at-dfe/working-groups-and-interest-groups.html">You can get involved to help</a>.</p>
</blockquote>

You can generally incentivise users to take part in your user research, although you shouold always ensure that it is appropriate to do so .

We are writing full standards and guidance around incetives usage (<a href="/-about-ur-at-dfe/developing-ur-profession.html">See our profession roadmap</a>). In the meantime, take the following into account:

- You should always consider value for money. You must enusre you are spending taxpayers' money appropriately and responsibly
- If you can attract participants without incentivising, then you should do. Incentives shouldn't be your default option

## Purchasing incentives

You can <a href="using-a-commercial-recruitment-agency.html">purchase incentives from our recruitment supplier</a>.

You can also purchase incentives through your own business area, although if you do this you will need to manage the security and data security of this process: we therefore don't recommend it.

