---
title: Recruiting participants using a commercial agency
weight: 20
last_reviewed_on: 2022-12-21
review_in: 6 months
---

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-85FBSF3SP6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-85FBSF3SP6');
</script>

# Recruiting participants using a commercial agency

<a href="index.html" class="govuk-back-link">Back to Recruiting particpants for research</a>

There are, broadly, two ways currently to recruit participants for user research in DfE: 

- doing it yourself using existing relationships and leads in your business area, or using other self recruitment methods
- paying to use a recruitment supplier company

(In the future, we plan to build our own participant panel to recruit users from - see our <a href="/-about-ur-at-dfe/developing-ur-profession.html">profession roadmap</a>)

Every user researcher has access to a centrally-contracted and centrally-managed recruitment agency. There is a <a href="https://docs.google.com/document/d/1o4uGFRJj0r_WjAk8-we8yWIdAfcLRKzy60PY2mf9HN0/edit?usp=share_link">process for accessing this agency, and templates for the important documents (link for DfE staff and contractors only)</a>.

It also possible, although can be a lot of work, to procure your own supplier on a job-by-job basis. This can be useful, for example, to find a specialist recruiter for specific user groups. If you want to do this, speak to your Lead UR, Delivery Manager or business support colleagues in your business area.

## When to use a commercial recruiter

Using a commercial recruiter can reduce a lot of time and effort in finding participants. However, they aren’t always the best choice for recruitment. Budget, project timelines and the type of user you’re trying to recruit may all mean that self-recruitment methods are more appropriate and will give you a better likelihood of successfully recruiting the right participants for your research. 

To help you decide, consider the following questions:

- do you have budget agreed for your team to pay for participant recruitment?
- is it at least 3-4 weeks before your planned research date?
- is the population of users you are recruiting from reasonably large?
- if you are recruiting people who work or study in schools or colleges, is the research in term time and outside of busy times of the year (e.g. exam periods)?

If the answer to all of these questions is ‘yes’ then a recruitment agency is a good option, However, if the answer to any of the questions is ‘no’, you should consider alternative methods instead.

<blockquote>
<h3>Defining a ‘reasonably large’ user population</h3>
<p>There is no single answer to this: you will have a feel of how large your user populations are and how receptive they may be to recruitment approaches. You can also speak to the agency to get their opinion. </p>
<p>Generally speaking, every individual criteria you add to a recruitment profile reduces the pool of people that participants can be found from, and so makes the recruitment slightly more difficult. </p>
<p>For example, “Teachers” is a large population, and easy to recruit from; although may not be specific enough for your research needs. However, “Teachers in the first two years of their career, who are from an ethnic minority, who grew up in a low income family, and who are hoping to become a senior leader one day” might be so specific that a recruiter will struggle to find enough of them to recruit from. </p>
<p>In this case, you might consider widening the profile (i.e. prioritising which are the most important characteristics), or you might decide that self recruitment methods will be more likely to succeed than using a recruitment agency.</p>
</blockquote>
