---
title: Writing a participant recruitment brief
weight: 30
---

<%= partial "ga" %>

# Writing a participant recruitment brief

<a href="index.html" class="govuk-back-link">Back to Recruiting particpants for research</a>

When you are using a recruitment agency to recruit participants, you need to be clear about exactly who you need to recruit, and what they need to know about the research. Writing a participant recruitment brief is one way to do this.

You may also find it useful to write a recruitment brief when <a href="recruiting-people-yourself.html">recruiting users yourself or using other teams or colleagues to recruit</a>, because it helps you logically define and quantify all the different attributes of the people you are trying to recruit.

<blockquote>
<p>Note: If you are <a href="using-a-commercial-recruitment-agency.html">using DfE’s contracted recruitment agency</a>, you will put your recruitment brief details in the ‘Statement Of Work’ contractual document.</p>
</blockquote>

See also: <a href="https://www.gov.uk/service-manual/user-research/write-a-recruitment-brief">'Write a recruitment brief' on the GOV.UK Service Manual</a>

GDS describe a recruitment brief as “a set of instructions sent to an agency for recruiting user research participants.” It describes the attributes of the people you need to recruit, how many of them you need and, importantly, which people you don’t need to research with.

The recruitment brief also provides a written record of what you have asked the agency to deliver, in case there are problems with the recruitment later on.

The agency will turn the brief into a ‘screener’: a set of questions in a logical order that they use to determine whether a specific potential participant fits your brief. 

__It is very important that you check the screener very carefully and confirm that you are happy with it before the agency starts recruiting.__ If you don't, then the agency may supply you with incorrect participants.

## What to put in your brief

Your brief should cover:

- Research dates, timings and lengths of sessions
- Research location - this might be remote, or at a research lab, or visiting a participant’s home or work (see also: researcher safety guidance)
- The number of participants you want to recruit
- A description of the types of people you want to recruit (often referred to as ‘recruitment criteria’)
    - this includes the core attributes of the people you need, as well attributes like protected characteristics, digital skills levels, usage of specific devices, etc.
- Incentives (see also: Using incentives)

## Research dates and timings

Try to be as flexible as possible when specifying your dates and timings: this gives the agency more flexibility. 

For example, rather than stating exact session timings (e.g. “9am-10am, 10:30am-11am”) you could give a time range, the length of your sessions and how much time you need in between them (e.g. “5x one hour sessions between 9am and 5pm, with at least 15 minutes between each session.”)

## Research location

If you are planning remote research, tell the recruiter about your software and technology requirements (e.g. the screen sharing software, ), as some potential recruits (e.g. those at work with strict firewalls, or with poor internet speeds) may not be able to install software or access some websites or services reliably. 

If participants will need to attend a research lab or other location, make sure you give the recruiter the full address. Consider supplying an info sheet including a map, for them to pass to participants. And decide with your Delivery Manager/team whether you will pay for travel costs (on top of any incentive you are giving to participants.)

If you are visiting the participant’s location, state if there is anything you need, e.g. wifi access, or a quiet space.

## Writing good recruitment criteria

Writing good recruitment criteria can be difficult. It’s important to be clear and unambiguous, and specific enough to describe your participant needs accurately, but not so specific as to make recruitment too challenging.

Describe the participant attributes that you need for your research, being clear and specific about them (including attributes that you don’t want as well as those you do) so that there is no room for misinterpretation. 

For example, if you’re recruiting teachers, what age groups/key stages should they teach? What kind of school (e.g. LA maintained, academy trust, private schools?) Does it matter how many years qualified they are? 

For users who may be less familiar or less well understood by recruiters, define exactly who you mean. So for example, instead of using "early years practitioner", which is a generic and broad term, you could state: “A person who works within a nursery setting with children aged 0-4. Their primary responsibility is working with the children, rather than managing the nursery”

Describe any demographic attributes that are important, and be clear where you need a mix of demographics (being flexible in the number of people you need). Only describe those attributes that you need, and think about the minimum requirements you need for each attribute rather than absolute numbers (e.g. “at least 2” rather than exactly 2): don’t make the recruitment more difficult than it needs to be.

You should include requirements for users with disabilities, digital maturity, and other excluded or under-represented user groups. However, remember that it is important that you achieve representation of these users across your whole phase of work, not necessarily in every round of research. So where appropriate, you could make these attributes optional requirements.

Finally, make sure you specifically describe any attributes that you don’t want (i.e. to ‘screen out’ people inappropriate for your research.) 

For example, if you’re recruiting school administration staff and don’t want private school staff, make sure you clearly state this.

<blockquote>
<h2>Example recruitment criteria</h2>

<p>(<strong>Note: this is an example, not a template!</strong> Do not simply copy and paste this example - every recruitment is unique, so you should think about and write your own criteria from scratch.)</p>

<ul>
<li>We require 10 participants for this round of research
<li>All are single parents, i.e. they are a person bringing up a child or children without a partner. 
<li>All have at least one child who: 
    <ul>
    <li>Is aged 10 or 11 and currently in Year 6 at a state primary school  (i.e. Local Authority (LA) maintained or academy trust, not private school) in England or Wales
    <li>Is moving to a state secondary school (i.e. LA maintained or academy trust, not private school) in England or Wales in September next year
    <li>Is <em>not</em> been assessed as having a special educational need
    </ul>
<li>At least 2 participants identify as men, and at least 2 identify as women
<li>At least 2 identify in an ethnic minority group (excluding white minorities) (e.g. using the UK census definitions of ethnic minorities)
<li>Across participants there must be a range of digital literacy (in particular, they should not all have high digital literacy)
<li>Please attempt to recruit the following attributes, but discuss with us part-way through recruitment if proving difficult: 
    <li>At least 1 uses some form of assistive technology to help them surf the web (e.g. screen magnifier, screen reader, braille input, adapted keyboard, etc)
    <li>At least 1 speaks English as an additional language
    </ul>
</ul>

</blockquote>