---
title: Safeguarding standards
weight: 100
---

<%= partial "ga" %>

<div class="dfe-hero">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-font-size-48"><%=current_page.data.title%></h1>
      <p>Intro text</a>. 
      <h2 class="govuk-heading-m govuk-!-margin-top-9">How we work</h2>
        <div class="cards card-thirds">
        <ul>
         <li class="card">
            <div class="text">
              <h3>
                <a href="/-ethics-safeguarding-inclusive/safeguarding/keeping-particpants-safe.html">Participant safeguarding</a>
              </h3>
              <p>Guidance on how to keep participants safe when carrying out user research.</p>
            </div>
          </li>
          <li class="card">
            <div class="text">
              <h3>
                <a href="/-ethics-safeguarding-inclusive/safeguarding/keeping-your-team-safe.html">Team safeguarding</a>
              </h3>
              <p>Tips on how to keep your team safe when carrying out user research. </p>
            </div>
          </li>
          <li class="card">
            <div class="text">
              <h3>
                <a href="/-ethics-safeguarding-inclusive/safeguarding/keeping-yourself-safe.html">Personal safety</a>
              </h3>
              <p>Guidance on keeping yourself safe and well when carrying out user research. </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>




