---
title: Anonymising participant personal data
weight: 50
---

<%= partial "ga" %>

# Anonymising participant personal data

<blockquote>
<p><strong class="govuk-tag">Beta</strong> This guidance is in beta. It is likely to change over time.</p>
<p>Your <a href="/give-feedback.html">feedback</a> will help improve it</p>
</blockquote>

Anonymising personal data makes it easier for user researchers to use and share any data they’ve collected. Anonymising is removing the pieces of information that could be used to identify an individual.  
 
If you anonymise your data then you can share it widely and store it without having to delete it later. Before you share, you'll still need to check that participants have consented to having their anonymised data shared. 

## Anonymise notes as you make them

Most of the personal data can be anonymised whilst you’re collecting it. For file names and titles relating to the participant, you should use a unique identifier instead of their name. 

Participants will often mention identifiable information during research, for example, the names of companies, colleagues, or the name of their child’s school. You can describe what they’ve said but you must remove any identifiable information. 

Write your descriptions in square brackets to indicate that you’re not quoting verbatim. Some examples are:

- Royal Mail would become ‘[a large postal carrier’]
- Someone’s name would become ‘[a colleague’]
- Broad Oak primary school would become ‘[their child’s primary school’]

## Remove details from audio and video 

If you’re sharing video footage with your team or a wider audience, you need to anonymise it. 
 
Edit the videos and remove any spoken personally identifiable information.  This includes the names, places, places of work, addresses. <a href="introduction-to-gdpr-in-ur.html">Make sure you know what personal data is</a>.  
 
You do not need to blur video or distort people’s voices but you must make sure a participant has consented to having their anonymised video shared. If they have not consented, delete the recording once you’ve taken notes/transcribed. 
 
You can use MS Stream to edit video files. Recordings can be edited by either bleeping out this info, or just cutting out the part where this information is said.  
You need to keep unedited recordings in the restricted personal data folder until you’ve fully anonymised them.  
 
You only need to anonymise what you plan to share. Most recorded video sessions are not shared with others. It’s easier and quicker to only anonymise what you want to share, rather than anonymising everything you record. Recordings that you will not share can be deleted.  
 
You must also check who the participant has agreed for recordings to be shared with. For example, they may have consented to sharing with the research team but not the wider DfE. 
 
Once recordings have been fully anonymised, you can store them without a retention period in a less restricted folder like your team’s general folder.  

## Pseudonymisation is different to anonymising 

Pseudonymisation is a technique that replaces or removes information in a data set that identifies an individual. It means personal data can no longer be linked to an individual without additional information.  
 
Read the <a href="https://ico.org.uk/for-organisations/guide-to-data-protection/guide-to-the-general-data-protection-regulation-gdpr/what-is-personal-data/what-is-personal-data/#pd4">ICO definition of pseudonymisation</a>.

<blockquote>
<h3>An example of pseudonymisation</h3>
<p>It is best practice to anonymise data as soon as possible.</p>
<p>If you’re doing active research or you plan to contact a participant in the future, make sure you do not anonymise their data. In these cases pseudonymisation is a great security measure. But once you no longer need to contact the participants, you should anonymise or delete the data as soon as possible.</p>
<p>An example of using a unique identifier instead of a name could be using ‘P5R30502’ instead of the participant’s name, Joe Bloggs. Whilst you’ll know that ‘P5R30502’ took part in research, you would not know that P5R30502 is actually Joe Bloggs.</p>
<p>You’ll need to delete recruitment information to make sure the unique identifier cannot be linked to the participant name. For example, if you keep a recruitment tracker that says that Joe Bloggs took part in round 3 research on 5 February then you would be able to link the participant to the unique identifier.</p>
<p>In fact, even if you only know Joe Bloggs took part in round 3, there’s still a chance he’s identifiable. Pseudonymisation is effectively only a security measure. It does not change the status of the data as personal data.</p>
</blockquote>

## Delete consent forms after you’ve anonymised data 

Due to the importance of consent forms it may seem scary to delete them.
  
If all your data is fully anonymised but you’re still storing consent forms, you’re still processing personal data.  
 
Once you’ve fully anonymised (not pseudonymised) your participant personal data from your research, you should delete your consent forms.  DfE is developing training on how to delete consent forms, you should check with your user research lead that data is fully anonymised before deleting consent forms.  
 
You may be concerned that a participant might want to withdraw their data or make a Subject Access Request (SAR) after you’ve anonymised it. There is no longer any data to delete or to send them as there is no way for you to identify it. This is normal practice and compliant with data protection. This is explained to the participant in our information sheet template which they read before research.  
 
Consent forms should be the last piece of personal data you delete. If you cannot anonymise because you’re still contacting them, they must be deleted before the retention period ends regardless of whether you still need them. 

## Speak to your team before you share findings 

Depending on what a participant has consented to, you can share anonymised findings with whomever you wish.  
 
Leadership within DfE have decided that user researchers should always inform participants on how their data is being handled (and who it’s being shared with), including anonymised data. 
 
Remember to always check that your team is happy to share the findings.  
Contact Research Operations if you’re unsure what your consent form says.  

It’s everybody’s responsibility to make sure the way they handle participant data is compliant with data protection laws.

Talk to your team and your user research lead if you have any concerns. <a href="" style="background:yellow !important">Contact the Data Protection Office (DPO) if you have any concerns about UK GDPR</a>. 
