---
title: Getting informed consent
weight: 40
---

<%= partial "ga" %>

# Getting informed consent

<blockquote>
<p><strong class="govuk-tag">Beta</strong> This guidance is in beta. It is likely to change over time.</p>
<p>Your <a href="/give-feedback.html">feedback</a> will help improve it</p>
</blockquote>

You need to get informed consent from participants if you want to process their personal data. Informed consent means making sure participants have had the right information about your research before they consent to taking part. 

To comply with UK GDPR, you must get informed consent from participants if you plan to process their personal data. 

## How to get informed consent from your participants 

To get informed consent you’ll need to send the participant an information sheet and a consent form in an accessible format at least a few days before the research session date. If they do not return it before the session, you’ll still be able to complete it with them before you start. 

You can use the <a href="https://drive.google.com/drive/u/0/folders/1q60mUyReWTgOaqJ31_crEjAsmRjqwQWx">information sheet template</a>.

Getting informed consent means giving participants enough time to read the information sheet and think of any questions they might have. 

You must tell them:

- what they’ll be doing in the research
- what data you’ll collect
- what you’ll use it for 

### Confirm consent before each session

Before you start your session, remind the participant about the information they’ve read on the information sheet and consent form.

You do not need to read them out verbatim. You might say:

- are you still happy that we’ll share your anonymised data with the research team, and relevant teams in DfE? 
- we will store your information for up to 2 years but may delete it before then
- are you still comfortable if we record this session and with any observers present?

Make sure you tell the participant:

- what they’re consenting to 
- that taking part is optional 
- that they can withdraw at any time 
- how you’ll use the research data 

### Get consent for sharing their anonymised data

It is ethical best practice to inform participants about where their anonymised data is being shared, even though UK GDPR does not apply to anonymised data.  

They may also be comfortable with the research team seeing their faces and hearing their voice but might not want anyone else at DfE to, even if they’re anonymous. 

To make sure we comply with ethical best practice we give participants the option to consent to sharing anonymised data.  

## Getting consent from children and vulnerable adults 

For research with children and vulnerable adults you’ll need to get consent from the participant and from  their parent, guardian, carer or responsible adult. 

Talk to your user research lead if you have any concerns about this. 

Consent form templates 

With support from content designers, we have created approved <a href="https://drive.google.com/drive/u/0/folders/1q60mUyReWTgOaqJ31_crEjAsmRjqwQWx">templates for you to use</a>:

- information sheets
- consent forms
- invitation letters

You can choose to use the example invitation letter or one of your own. 

## Get participant signatures

There are several different ways you can get participants to ‘sign’ their consent forms, you do not need to get a written signature to comply with UK GDPR. The Information Commissioner’s Office (ICO) says you can get participants to tick a checkbox to signify consent and still meet the rules.

### Face to face sessions 

Face to face sessions are a good opportunity to talk to participants about the research and make sure they know what they’re consenting to, but you need to make sure you’ve sent them the invitation letter and information sheet before the session. If they confirm they’re comfortable taking part then they can complete the paper consent form in person. You’ll need to make an electronic copy, keep it securely and dispose of the paper form in a confidential waste bin. 

### Sessions done remotely

For sessions done remotely, you can send the participant their consent form by:

- email
- survey link
- post

For any postal consent forms you receive back, make an electronic copy, store it securely and dispose of any paper in a confidential waste bin.

You can get verbal consent as long as the participant has read the consent form and information sheet.  You’ll need to read out each statement from the consent form and get the participant to reply with their consent to each of the statements.  You’ll need to record this on video or audio and store the clips alongside any related consent documents from the participant.

## Storing consent forms

Keep consent forms in the user research folder for personal data. <a href="setting-up-secure-storage.html">Find out how to set up secure storage</a>.

If you use Microsoft Forms for your consent forms, the data submitted will be stored on the Microsoft website. You should download a copy of the responses once the research sessions have finished and save them in the user researcher folder for personal data. Delete the data held on Microsoft Forms. 

This means all the personal data is kept in one place and makes sure we’re able to delete data if user researchers leave the team or DfE without doing so.
 
Consent forms: 

- must be placed under the same retention period as all material that comes from the research session itself 
- should be the last document you delete when anonymising data or when the retention period is up 

Find out more information about <a href="anonymising-personal-data.html">deleting personal information</a>.

Find out <a href="withdrawing-participants-from-research.html">what to do if a participant withdraws their consent</a>.