---
title: Managing participant data
weight: 600
---

<%= partial "ga" %>

<div class="dfe-hero">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-font-size-48"><%=current_page.data.title%></h1>
      <p>The guidance on these pages is specific for user researchers and explains how you can apply best practice in managing participant data to your day to day work.</p>
      <h2 class="govuk-heading-m govuk-!-margin-top-9">Managing data guidance</h2>
        <div class="cards card-thirds">
        <ul>
         <li class="card">
            <div class="text">
              <h3>
                <a href="managing-participant-data.html">Managing participant data correctly</a>
              </h3>
              <p>Information on the importance of managing participant data correctly. </p>
            </div>
          </li>
          <li class="card">
            <div class="text">
              <h3>
                <a href="introduction-to-gdpr-in-ur.html">Following GDPR in user research</a>
              </h3>
              <p>Guidance on doing user research in line with the General Data Protection Regulation.</p>
            </div>
          </li>
          <li class="card">
            <div class="text">
              <h3>
                <a href="setting-up-secure-storage.html">Setting up secure storage</a>
              </h3>
              <p>Guidance on setting up secure folders and files for storing personal data.</p>
            </div>
          </li>
          <li class="card">
            <div class="text">
              <h3>
                <a href="managing-data-when-recruiting-participants.html">Managing data during recruitment</a>
              </h3>
              <p>Practical guidance for managing personal data during participant recruitment.</p>
            </div>
          </li>
          <li class="card">
            <div class="text">
              <h3>
                <a href="getting-informed-consent.html">Getting informed consent</a>
              </h3>
              <p>Guidance on getting informed consent when processing personal data from user research participants.</p>
            </div>
          </li>
          <li class="card">
            <div class="text">
              <h3>
                <a href="anonymising-personal-data.html">Anonymising personal data</a>
              </h3>
              <p>Best practice guidance on how to anonymise participants' personal data during research.</p>
            </div>
          </li>
          <li class="card">
            <div class="text">
              <h3>
                <a href="retention-periods.html">Retention periods</a>
              </h3>
              <p>Protocols for how long to store information from research and how to apply them.</p>
            </div>
          </li>
          <li class="card">
            <div class="text">
              <h3>
                <a href="withdrawing-participants-from-research.html">Withdrawing participant consent</a>
              </h3>
              <p>Advice on how to deal with requests to withdraw consent or Subject Access Requests.</p>
            </div>
          </li>
          <li class="card">
            <div class="text">
              <h3>
                <a href="protecting-personal-data-internal-participants.html">Protecting internal participants' data</a>
              </h3>
              <p>Guidance on protecting the personal data of research participants who work in the department.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


