---
title: Managing participant data correctly
weight: 10
last_reviewed_on: 2022-12-21
review_in: 6 months
---

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-85FBSF3SP6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-85FBSF3SP6');
</script>

# Managing participant data correctly

<a href="index.html" class="govuk-back-link">Back to Managing participant data</a>

<blockquote>
<p><strong class="govuk-tag">Beta</strong> This guidance is in beta. It is likely to change over time.</p>
<p>Your <a href="/give-feedback.html">feedback</a> will help improve it</p>
</blockquote>

<%= warning_text("Not managing personal data correctly is a serious offence")%>

You must always manage the participant data you generate during your user research under UK GDPR (General Data Protection Regulation).

We have created user research guidance for managing data, with support from the Department's Office of the Data Protection Officer. This guidance complements <a href="https://educationgovuk.sharepoint.com/sites/how-do-i/SitePages/gdpr.aspx">DfE’s GDPR guidance and policy that can be found on the intranet</a>. 

The UK GDPR guidance on these pages is specific for user researchers and explains how you can apply it to your day to day work. Our guidance is not intended to make your work harder, but to protect users, yourself and the Department. 

## Further information

- <a href="https://educationgovuk.sharepoint.com/sites/how-do-i/SitePages/gdpr.aspx">GDPR guidance and policy on the Department for Education intranet</a>
- You can learn more about UK GDPR on the <a href="https://ico.org.uk/">Information Commissioner's website</a>.
