---
title: Managing data when recruiting participants
weight: 30
---

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-85FBSF3SP6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-85FBSF3SP6');
</script>

# Managing data when recruiting participants

<a href="index.html" class="govuk-back-link">Back to Managing participant data</a>

<blockquote>
<p><strong class="govuk-tag">Beta</strong> This guidance is in beta. It is likely to change over time.</p>
<p>Your <a href="/give-feedback.html">feedback</a> will help improve it</p>
</blockquote>

You can choose from a number of options for how to recruit participants from outside DfE (sometimes called external research).

You can choose to:

- contact existing participants
- use recruitment agencies
- ask schools or charities you have an existing relationship with

You cannot use social media to recruit participants. 
 
Make sure you choose the most appropriate method for your project. 

## Contacting participants from previous research 

You can ask participants from previous research you’ve done if they’ve consented to being contacted about future research. 

All the participant data you collect has a retention period, this is the length of time that you can keep someone’s data for. Do not contact existing participants if the retention period has ended.  
 
You can also use existing contacts from lists you may have been given, for example from a union or a local authority.  
 
When using existing contacts, make sure: 

- they have consented to being contacted  
- you tell them how you obtained their information 
- you get informed consent for the new research if they want to take part 

### Make sure you’ve got consent 

When checking if someone has consented to being contacted again, make sure they’ve consented to the type of contact you want to make. Some participants may have only consented to being contacted by a specific team or under certain circumstances. 
 
For example, a participant who has taken part in research about school teacher training may have consented to taking part in more research on that topic but would not be the right participant into commercial procurement. Contacting them incorrectly could make them feel overwhelmed or that their data is being handled incorrectly.  

## Using recruitment agencies 

DfE has some agencies that can recruit participants for you. They can also deal with paying incentives to participants if your project is offering them.  

### Asking schools and charities 

You may already have a relationship with an organisation like a charity or school. You can ask these organisations to advertise your planned research but make sure you consider the burden you might be placing on them, especially if they’re helping more than one DfE team.  
 
When you contact the organisation, make sure you tell them:  
- that you’re from DfE  
- what you’re researching and the aim  
- when the research will take place  
- a contact who can deal with any questions they might have 
- a way to sign up (usually the researcher’s email) 

You’ll also need to make sure you’ve described your approach in your recruitment plan. 

## If the retention period has passed 

Do not contact a previous participant after the retention period has passed. It risks reputational damage if DfE are not handling data correctly. 
 
If you notice that the data you received has not been handled correctly, inform whoever provided you with the data.  
 
Make sure you read the guidance on checking how long to keep personal data for and familiarise yourself with how to anonymise data. 
 
If you are unsure if data has been mishandled, please contact the Data Protection Office. 
