---
title: Protecting personal data if your participants work in DfE
weight: 80
---

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-85FBSF3SP6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-85FBSF3SP6');
</script>

# Protecting personal data if your participants work in DfE

<a href="index.html" class="govuk-back-link">Back to Managing participant data</a>

<blockquote>
<p><strong class="govuk-tag">Beta</strong> This guidance is in beta. It is likely to change over time.</p>
<p>Your <a href="/give-feedback.html">feedback</a> will help improve it</p>
</blockquote>

You still need to follow UK GDPR and protect the personal data of your participants if they work in DfE. This kind of user research is sometimes called 'internal research'.

Types of internal research range from surveys about experiences like COVID-19 to research done to support an internal service or product like the DfE service manual. 

## Store their personal data 

Personal data for internal research must be kept in the same secure and restricted folders where you keep external participant data.

<a href="setting-up-secure-storage.html">Find out how to set up secure storage for files containing personal data.</a>

## Get consent to collect and use their data

You need to get consent from internal research participants to collect and use their personal data. You can use the consent form for external research to do this. A new form is being developed by the Research Operations team for getting consent for internal research.

Explain the purpose of your research to the participants, tell them what they’ll be asked about and what you’ll be doing with the data you collect. 

You can ask them for feedback about their experiences working with your team. Make sure you explain this beforehand so they’re not pressured to give it when asked. 

## Anonymise the data 

There are stricter rules for anonymising the personal data of internal participants than for external ones. It’s stricter because there is a risk that colleagues will be able to identify participants. 

Make sure you only collect the data you need. When recording video and audio, voices may be recognisable to people who know the participant. Even if you blur out someone’s face, they may be identifiable from their clothing or accessories, for example, from something they wear every day like a wedding ring. 
