---
title: How long to keep information for (retention periods)
weight: 60
---

<%= partial "ga" %>

# How long to keep information for (retention periods)

<blockquote>
<p><strong class="govuk-tag">Beta</strong> This guidance is in beta. It is likely to change over time.</p>
<p>Your <a href="/give-feedback.html">feedback</a> will help improve it</p>
</blockquote>

All personal data that you collect has a retention period, this is the amount of time you can keep it until you must delete it. If you anonymise personal data then it does not have a retention period.

You'll need to check which retention period is appropriate for the data you're collecting before you start your research. Only keep it for as long as you need it for or by the retention period end date. 

## Check which retention period you need to use

You can set your own retention period when you submit your research plan. 

### 2 year retention period (recommended for all)

The DfE user research profession recommends that you choose a retention period of up to 2 years for all the personal data you collect on any project. Keeping personal data for 2 years or less means you’ll have enough time to analyse the data. It also mitigates against risks caused by unpredictable pauses in projects due changes in circumstances or funding, for example the impact of COVID-19. 

### 3 year retention periods

You may choose a retention period of up to 3 years in exceptional circumstances on larger projects. Only choose 3 years if it’s likely that you’ll need to use the data you’ve collected after 2 years but before 3 years whilst on the same project. You must have a good reason for why you’re not able to anonymise the personal data you’ve collected. 

### 5 year retention periods 

You may choose a retention period of up to 5 years in some exceptional circumstances. Only choose 5 years if your project is classed as ‘longitudinal’, this means you’ll need to use this personal data over a 5 year period on the project. Longitudinal projects usually involve sharing with other government departments or doing statistical analysis where data cannot be anonymised in the usual 2 to 3 year period. 

## Manage retention periods on your files

You must make sure that data is deleted once the retention period ends. The best way to remember to do this is by using labels on your electronic files to remind you when the retention period is due to end. 

### SharePoint folders

You’ll soon be able to choose to manage the retention period on your files using labels in SharePoint, this option is currently being developed. User researchers often use labels to manage their files, if you use the retention period labels then the data will be automatically deleted when the retention period ends. 

### Google shared drives

You cannot use labels in the same way if you keep your files in a Google drive. If you’re keeping personal data in a Google shared drive then you should set reminders in your calendar to remind you to remove the data by the end of the retention period. 

If you’re leaving DfE, make sure you tell your team about any reminders you’ve set.

The retention period end date is a legal deadline for deleting data. You should aim to delete any anonymised data before the end of the retention period. <a href="anonymising-personal-data.html">Find out how to anonymise data</a>.
