---
title: Setting up secure storage for personal data
weight: 20
last_reviewed_on: 2022-12-21
review_in: 6 months
---

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-85FBSF3SP6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-85FBSF3SP6');
</script>
# Setting up secure storage for personal data

<a href="index.html" class="govuk-back-link">Back to Managing participant data</a>

<blockquote>
<p><strong class="govuk-tag">Beta</strong> This guidance is in beta. It is likely to change over time.</p>
<p>Your <a href="/give-feedback.html">feedback</a> will help improve it</p>
</blockquote>

User researchers store digital files in SharePoint and Google shared drives. 

Your team might already have this set up. If not, you’ll need to choose a place to keep participant’s personal data and request access to set it up. You’ll also need to make sure you carefully manage who accesses the files. 

## Choose a platform to store personal data

As a user researcher at DfE, you’ll use Google Drive and SharePoint to store files depending on how your team is set up. The platform you choose should be decided by your team. They might already be using a certain platform, so check with them before requesting anything new.  

The Data Protection Office and security team at DfE recommend using SharePoint to store personal data. You should keep in mind that if you have contractors on your team they may struggle to access SharePoint. 

You can choose one platform for files that have personal data in them and another for files without personal data, for example, project files. 

### SharePoint folder for user researchers

A new process is being developed where you’ll be able to choose to keep participant personal data in the SharePoint workplace for user researchers. With SharePoint, all personal data is kept in one secure place – this mitigates risk by making it easier to manage. 
 
Research Operations have worked closely with the Knowledge and Information Management Team (KIM) to make it easier for you to manage personal data in SharePoint, including moving, setting permissions and deleting. 
 
Using SharePoint helps keeps participant personal data safe because: 

- you can only access this with an invitation link 
- you’ll only be able to see the folders you’ve given access to 
- nobody else will be able to access the data you store in SharePoint without permission 
- you can use retention labels to make sure your data is automatically deleted at the end of a retention period - for example, - if you set a retention label of ‘2 years’ the file will be automatically deleted after 2 years. If there isn't a suitable retantion label for your documents, or you want to find out more, you can <a href="https://educationgovuk.sharepoint.com/sites/lvewp00055/SitePages/labels.aspx">read about retention periods and labels on the DfE Sharepoint guidance pages.</a>

## Manage who accesses the files

Only give others access to personal data that has not been anonymised on a ‘need to know’ basis.  

Where possible, user researchers should be the only people accessing personal data. As a user researcher you should limit access to the data to the smallest number of people possible. 
 
### Give access to DfE information asset owners

DfE needs to keep up to date records of all the data it stores. Places where data is stored are called ‘information assets’. If they contain personal data, some examples of information assets are:

- individual documents
- folders containing multiple documents
- a recruitment panel
- an online service

All information assets should be recorded on the <a href="https://educationgovuk.sharepoint.com/sites/iac/SitePages/Information-Asset-Register.aspx">DfE information asset register</a>.

Information asset owners (IAOs) are accountable for the security of data at DfE and they need to have access to folders containing personal data. IAOs are sometimes supported by information asset managers (IAMs). Some teams will have an IAM who is responsible for all of the personal data collected in user research. 

### Giving access to other people

Where it is not manageable for one researcher to conduct research and also manage all of the data compliantly, access can be given to someone who is not a user researcher, an IAO or an IAM, to help with data management. This person must understand UK GDPR and how it relates to good data management. 
 
People outside of your team, an IAO or IAM can only be given access to personal data to help with compliance. You must give anybody else access for any other reason.
