---
title: Withdrawing participants from research and Subject Access Requests
weight: 700
---

<%= partial "ga" %>

# Withdrawing participants from research and Subject Access Requests

<blockquote>
<p><strong class="govuk-tag">Beta</strong> This guidance is in beta. It is likely to change over time.</p>
<p>Your <a href="/give-feedback.html">feedback</a> will help improve it</p>
</blockquote>

Participants can withdraw their consent at any time. They can also request to access personal information held about them by DfE, this is called making a Subject Access Request (SAR).

Under UK GDPR, individuals have the right to know what personal information is held about them and have it deleted in some circumstances. 

## Withdrawing participants from research 

A participant could withdraw consent at any time so you’ll need to make sure they know how. 

You’ll also need to make sure you remind them that taking part in research is voluntary:

- during recruitment
- at the beginning and end of sessions
- whenever you think they feel uncomfortable

### Deleting research data

You’ll need to delete any research data related to a participant who has withdrawn their consent. 

Delete your research data for the individual if:

- they withdraw consent during a session (stop the session if this happens)
- they withdraw consent after the session 
- you notice at any point that you do not have recorded consent for them

When you delete someone’s data, make sure you:

- put any completed paper consent forms in a confidential waste bin
- delete related recordings, files and database entries
- delete their personal information, including contact details, from any files    
- tell them you’ve deleted their data

You’ll be able to deal with requests much quicker if you keep your personal data files organised. <a href="getting-informed-consent.html">Read more about how to get informed consent</a>.

## Dealing with Subject Access Requests (SARs)

An individual usually has the right to know what information is held about them by DfE. SARs are usually made to find out what information is being held and why. 

If you’re dealing with a SAR you must respond to the requester within one month. You can choose to use a <a href="https://educationgovuk.sharepoint.com/sites/lvewp00002/SitePages/sar-templates.aspx">response letter template to do this.</a>

All SARs come through the ‘contact us’ service through Iris, DfE’s correspondence system. If you receive a SAR in a different way, email the Ministerial and Public Communications Division and ask them to log it.
 
Talk to the DPO or the UK GDPR policy team if you would like more specific advice about SARs. 
