---
title: Community of practice meetups and Slack channels
weight: 120
last_reviewed_on: 2022-12-21
review_in: 6 months
---



<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-85FBSF3SP6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-85FBSF3SP6');
</script>

<a href="index.html" class="govuk-back-link">Back to About user research at DfE</a>

# Community of practice meetups and Slack channels

We have an active and supportive community of practice, where user researchers from across the department come together to learn from and support each other, share experiences and best practice, hear announcements from leadership and how we're developing the profession, and mix with people from across the department.

## Slack channels

<a href="https://ukgovernmentdfe.slack.com" target="_blank">Department for Education's Slack channels</a> are a great place to meet, speak to and get advice from other user researchers.

* <a href="https://ukgovernmentdfe.slack.com/archives/C53D6R7SP" target="_blank">National channel: #user_research</a>
* <a href="https://ukgovernmentdfe.slack.com/archives/CLE46M53L" target="_blank">Manchester: #mcr-userresearchers</a>
* <a href="https://ukgovernmentdfe.slack.com/archives/C03NGLQDJJW" target="_blank">Sheffield: #sheffield_user_researchers</a>
* <a href="https://ukgovernmentdfe.slack.com/archives/C02R0G76KBM" target="_blank">London: #ldn_userresearch</a>
* <a href="https://ukgovernmentdfe.slack.com/archives/C7HQB7PQU" target="_blank">Coventry and Bristol: #coventry_bristol_urs</a>
<p>#user_research is where the UR leadership team make any important announcements: it's always worth keeping an eye on this channel.</p>

There are also <a href="https://userresearch.blog.gov.uk/cross-government-user-research-meetups/" target="_blank"> cross-government communities</a> that publish blog content and hold meetups. 

## Community meetups

If you are a user researcher (civil servant and contractor) at DfE, you are invited and encouraged to attend our community meetups: regular sessions where user researchers come together in person, or remotely using Teams.

We have monthly national meetups, run remotely, and each DfE office location with digital staff has a local meetup, run as a hybrid session: people are encouraged to attend in-person, but can join using Teams.

The content of meetings differs depending on which you attend, and each local community has its way of doing things, and its own personality.

| __National__  | __Local__ |
|---------------|---------------|
| Share knowledge and skills within the community and with other professions      | Share experience and support with researchers in that area |
| Discuss challenges and best practices relevant to the whole community      | Discuss things related explicitly to researchers in each locale |

| __Area__ | __Frequency__ | __Organisers__ |
|---------------|---------------|----------------
| __National__ | First Thursday of the month, 1-2 pm | Chardai Brice |
| __Coventry and Bristol__ |  | Kate O'Leary |
| __London__ | Third Thursday of the month, 1-2 pm | Valentina Mazzi, Costa Christou |
| __Manchester and Sheffield__ | Third Thursday of the month, 1-2 pm | Rachael Sumner, James Angove |

If your office doesn't have a local community, please contact Keisha Herbert to discuss which local community would be best for you to join.

Some sessions are recorded to give everyone in the community a chance to access the content. <a href="https://drive.google.com/drive/folders/1wRa-XyazD55s_Vnk8fjC9S4VnMi9JQFi?usp=share_link" target="_blank"> Watch recordings of previous meetups</a>.

## Getting involved

Becoming an active member is a good way of shaping how your local community does things.  

There is a <a href="working-groups-and-interest-groups.html">community of practice working group</a>, which develops our community strategy, and plans content for national meetups. Each local community has a community lead or team to plan the sessions.

If you'd like to present at a national meeting or being a part of the working group, contact <a href="https://ukgovernmentdfe.slack.com/team/U0351HD3WER">Chardai Brice</a> to learn more about how the team can support you to deliver a great session or steer the future of national meetups.

