---
title: Contractor statements of work
weight: 10
---

<%= partial "ga" %>

# Contractor statements of work

We're developing consistent statement of work (SOW) templates for teams bringing in contractors through any of our managed service providers (see our <a href="developing-ur-profession.html">profession roadmap</a>.)

If you need advice before then, <a href="people.html">speak to your lead user researcher if you have one in your portfolio, or the head of user research</a>.