---
title: Contractor statements of work
weight: 230
last_reviewed_on: 2022-12-21
review_in: 6 months
---

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-85FBSF3SP6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-85FBSF3SP6');
</script>

<a href="index.html" class="govuk-back-link">Back to About user research at DfE</a>

# Contractor statements of work

We're developing consistent statement of work (SOW) templates for teams bringing in contractors through any of our managed service providers (see our <a href="developing-ur-profession.html">profession roadmap</a>.)

If you need advice before then, <a href="people.html">speak to your lead user researcher if you have one in your portfolio, or the head of user research</a>.