---
title: About user research at DfE
weight: 100
---

<%= partial "ga" %>

<div class="dfe-hero">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-font-size-48"><%=current_page.data.title%></h1>
      <p>Information about how user research is delivered at DfE, our active and friendly user research community, and how we come together to develop DfE's practice and professional capability.</p>
      <h2 class="govuk-heading-m govuk-!-margin-top-9">Our community and people</h2>
        <div class="cards card-thirds">
        <ul>
         <li class="card">
            <div class="text">
              <h3>
                <a href="people.html">Our people</a>
              </h3>
              <p>Our leadership team, and other key people who can support you.</p>
            </div>
          </li>
          <li class="card">
            <div class="text">
              <h3>
                <a href="communities-of-practice.html">Community of practice meetups and Slack channels</a>
              </h3>
              <p>Details of how we come together and communicate as a community of user researchers. </p>
            </div>
          </li>
          <li class="card">
            <div class="text">
              <h3>
                <a href="working-groups-and-interest-groups.html">Working groups and interest groups</a>
              </h3>
              <p>Groups that any user researcher can join to help develop our profession.</p>
            </div>
          </li>
          <li class="card">
            <div class="text">
              <h3>
                <a href="developing-ur-profession.html">How we're developing our user research profession</a>
              </h3>
              <p>Our profession strategy and roadmap. (We're working in the open.)</p>
            </div>
          </li>
          <li class="card">
            <div class="text">
              <h3>
                <a href="new-starters.html">New starters</a>
              </h3>
              <p>Information and links for user researchers new to DfE.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Help for teams</h2>
    <p class="govuk-body">Useful information for teams with user researchers, or teams planning to recruit or contract a user researcher.</p>
     <div class="cards card-thirds">
        <ul>
          <li class="card">
              <div class="text">
                <h3><a href="what-user-researchers-do.html">What do DfE user researchers do?</a></h3>
                <p>Information about what user research in government is, and how DfE user researchers deliver it.</p>
              </div>
          </li>
          <li class="card">
              <div class="text">
                <h3><a href="recruiting-a-user-researcher.html">Recruiting a user researcher for your team</a></h3>
                <p>Civil servant user research roles and grades, and support for recruitment campaigns.</p>
              </div>
          </li>
            <li class="card">
              <div class="text">
                <h3>
                  <a href="contractor-statements-of-work.html">Contractor statements of work</a>
                </h3>
                <p>Support when bringing in managed service user researchers, and planning their work.</p>
              </div>
            </li>
        </ul>
    </div>
  </div>
</div>