---
title: New starters in user research at DfE
weight: 150
last_reviewed_on: 2022-12-21
review_in: 6 months
---

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-85FBSF3SP6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-85FBSF3SP6');
</script>

<a href="index.html" class="govuk-back-link">Back to About user research at DfE</a>

# New starters in user research in DfE

<blockquote>
<p><strong class="govuk-tag">Beta</strong> We're currently developing a better onboarding experience for new user researchers at DfE.</p>
<p>Your <a href="/give-feedback.html">feedback will help us do this</a>.</p>
</blockquote>

Welcome to the Department for Education, below is a collection of useful links and guidance to get you started on your journey as a user researcher at DfE. 

This guidance is for civil servant and contractor user researchers: we are one DfE user research community.

## On your first day (or as soon as possible)

Make sure the Research Operations team know that you have joined the Department, if your line manager hasn’t done this already. They will add to the correct user research Slack channels, make sure you get the invites to the community meetings and get access to some of our tools, as mentioned below. 

The Research Operations mailbox is <a href="mailto:UserResearch.OPERATIONS@education.gov.uk">UserResearch.OPERATIONS@education.gov.uk</a> 

Please let us know: 

- the date you started
- whether you are a Civil Servant or contractor
- your office location
- the portfolio and team you have joined.

Find our more about <a href="people.html">the Research Operations team and how we support the user research community</a>.

## Your first week

Your line manager or delivery manager should arrange your access to the following tools:

- Slack
- G Suite
- Trello
- Lucid

<a href="/-tools-and-templates/software-and-hardware.html">Information about other specialist tools</a>

We have <a href="communities-of-practice.html">user research community Slack channels</a> where you can meet and get advice from other user researchers.

All user researchers need a DfE Google account to access <a href="/-tools-and-templates/templates.html">our community folders on G Drive</a>. Some content is restricted to only being available to Civil Servant user researchers.

<a href="/-tools-and-templates/finding-existing-research.html">We have a Research Evidence Directory (RED)</a>, where you can find and share research insights within DfE. Our User Research Operations team will arrange your access to RED, once they are notified of you joining. RED can only be accessed by civil servants, or by contractors with a DfE laptop.

You should read our <a href="/-principles/">user research principles</a>: they will help you understand what good looks like when doing user research at DfE.

In your first week, you could also read more about our <a href="communities-of-practice.html">user research community</a> and <a href="people.html">our people</a>.

## Your first month

We have user research community meetups every 2 weeks, where you can join remotely or at your local DfE office. Make sure you’re attending these in your first month to meet other DfE user researchers, both locally and nationally. Both permanent DfE staff and contractors join these meetings to share knowledge and advice. 

The User Research Operations team will make sure you get the relevant calendar invites to these community meetings once they are notified of you joining the DfE.

For more information, please see our <a href="communities-of-practice.html">community of practice</a> page.

## Training resources

Your training needs will depend on both your level of experience as a user researcher and whether you have been a user researcher in government before. 

The <a href="https://www.gov.uk/service-manual/user-research">government service manual</a> is a must read for everyone, so make sure you are familiar with its content. It includes guidance specific to user research in government, which is useful if you are an experienced user researcher but this is your first role in government.

Please also see our guidance on <a href="https://apply-the-service-standard.education.gov.uk/">how the service standard is applied at DfE</a>.

We also have a page within this manual that contains a list of other useful <a href="/-career-development-and-support/training-and-guidance.html">training and online resources, including the cross government training course, understanding users and their needs</a>.

If there are any delays in accessing the government training course, please speak with your line manager as to whether alternative training is needed until the government training course is available.

## Our templates and tools

We have a range of <a href="/-tools-and-templates/">templates and examples of work</a> to support you in your role.

## Your feedback

The research operations team are currently developing the onboarding experience for user researchers at DfE and your feedback will help shape the experience for future user researchers. The team will contact you a couple of months after joining for your feedback but if you have any questions or feedback before that, please <a href="mailto:UserResearch.OPERATIONS@education.gov.uk">contact the research operations team</a>.