---
title: Our people
weight: 110
last_reviewed_on: 2022-12-21
review_in: 6 months
---

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-85FBSF3SP6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-85FBSF3SP6');
</script>

<a href="index.html" class="govuk-back-link">Back to About user research at DfE</a>

# Our people

We have a large user research community, made up of civil servant and contractor user researchers, working across a number of different portfolio areas and user groups. The profession is led by our user research leadership team.

## Find a user researcher in DfE

We keep a <a href="https://docs.google.com/spreadsheets/d/1PO1yTN79RRrVrooXVioylc4-7KqlJl6jSlwVFmAW1SE/edit?usp=sharing">list of all user researchers currently working across the department</a>, available to view and edit by anybody with a DfE email address.

## User research leadership team

Tom Adams is the <strong>head of profession for user research</strong> at Department for Education. 

Tom's job is to develop our professional capability across the department, by putting in place systems, frameworks, guidance and processes. Tom owns and is responsible for delivering our <a href="developing-ur-profession.html">profession strategy and roadmap.</a>

He advocates for user research in the department, and also joins up with other heads of user research to do this across government.

Some of our portoflio areas have <strong>lead user researchers</strong>, who coordinate research and manage the user research team in a single area of DfE. They are responsible for ensuring their user researchers are meeting our professional standards, and that they are coming together to share their insight and building up a single user-centred picture of our different user groups.

(Our goal is to have a lead user researcher in place in every portoflio of work in DfE. We're working on this.)

- <strong>Tom Adams</strong> - Head of User Research
    - <a href="https://ukgovernmentdfe.slack.com/team/UTL61DP1C" target="_blank">Contact Tom in DfE Slack (opens a new window)</a>
    - Tom is based in Manchester
- <strong>Annaliese Lamb</strong> - Lead User Researcher for Schools
    - <a href="https://ukgovernmentdfe.slack.com/team/U035FP68FPB" target="_blank">Contact Annaliese in DfE Slack (opens a new window)</a>
    - Annaliese is based in Manchester
- <strong>Will Finn</strong> - Lead User Researcher for Teachers
    - <a href="https://ukgovernmentdfe.slack.com/team/U0360NUT6PJ" target="_blank">Contact Will in DfE Slack (opens a new window)</a>
    - Will is based in Sheffield
- <strong>Claire Brickell</strong> - Lead User Researcher for Children and Families
    - Claire is currently away from DfE, due back in summer 2023

They are part of the leadership team in their portfolio, helping build good environments for research, and ensuring that user research and user insight are heard in the overall portfolio product strategy.

They also work closely with the Head of User Research to develop user research capability across DfE, ensuring we have consistency across our portfolios, and that everybody gets the chance to learn from best practice in their areas.

## User Research Operations

We have a small User Research Operations team (normally called Research Ops or ReOps). 

Research Ops support the Head of User Research to develop services and guidance to help user researchers. Examples are our GDPR/data management framework, access to our departmental research library, and support with accessing our central participant recruitment supplier.

Our aim is to grow the Research Ops team to do things like developing a central participant recruitment panel, providing a full recruitment service to all user researchers, and support with insight management.

Currently the team is:

- <strong>Alice Kiernan</strong> - Research Ops Lead
    - <a href="https://ukgovernmentdfe.slack.com/team/UDVFVG12M" target="_blank">Contact Alice in DfE Slack (opens a new window)</a>
    - Alice is based in Manchester
- <strong>Emma Christoforou</strong> - Research Operations Specialist
    - <a href="https://ukgovernmentdfe.slack.com/team/U03MXV9THA9" target="_blank">Contact Emma in DfE Slack (opens a new window)</a>
    - Emma is based in Sheffield


