---
title: Recruiting a user researcher for your team
weight: 220
last_reviewed_on: 2022-12-21
review_in: 6 months
---

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-85FBSF3SP6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-85FBSF3SP6');
</script>

<a href="index.html" class="govuk-back-link">Back to About user research at DfE</a>

# Recruiting a user researcher for your team

<blockquote>
<p>Department for Education user research job vacancies are advertised on <a href="https://www.civilservicejobs.service.gov.uk/">Civil Service Jobs</a>.</p>
</blockquote>

It’s important that when we recruit civil servant user researchers into DfE, or promote people into new roles, that we are consistent in the way we describe and advertise the role, and how we assess them in their application and interview.

Using the same role titles, grades and job descriptions ensures user researchers are treated the same across the department. It ensures consistency of pay bands between people with the same job title, and it means user researchers and their teams have the same expectations of the role.

[General guidance for recruiting people into DfE](https://educationgovuk.sharepoint.com/sites/human-resources/SitePages/Jobs-and-recruitment.aspx) is on the intranet.

## User researcher roles, grades and job descriptions

Our role names and job descriptions are based on the [standard UK government DDaT (Digital, Data and Technology) user research roles](https://www.gov.uk/guidance/user-researcher), as described on GOV.UK, with some changes. This ensures that our roles are specific enough for our needs at DfE, but are also common with other user research roles in government. 

You __must__ always recruit a user researcher using the following job titles, grades and job description. If you use a different role title, grade or job description, your role may be refused. In the worst case, you may employ somebody to the wrong role level, putting them and your project at risk. 

You can add details about your team and business area to the job description. [Speak to your lead user research or the head of user research if you feel you need to make more changes for your role](people.html#user-research-leadership-team).

| __Role title__ | __Grade__ | __Job description template__ |
|---------------|---------------|---------------|
| Junior user researcher | HEO | [Junior user researcher job description](XXXXX) |
| User researcher | SEO | [User researcher job description](XXXX) |
| Senior user researcher | G7 | [Senior user researcher job description](XXXXX) |
| Lead user researcher | G6 | (currently in development) |
| Head of user research | G6 | (currently in development) |

Note that unlike some departments, we have a single ‘head of user research’ role. If you are recruiting a Grade 6 into your business area, you must always advertise and recruit this as a ‘lead user researcher’.

If you are recruiting a lead user researcher (G6), the head of user research must be involved in planning this role and your campaign.

## Assessing candidates at application

When you assess the applications for your role (known as the ‘sift’) you must assess against every essential criteria in the job description.

## Interview questions and tasks 

We are developing an interview pack builder tool, with suggested interview formats, template interview scripts, a bank of questions and tasks for all roles, and examples of what good answers and weak answers might contain. This is currently in private beta testing.

When this tool is live, you won’t have to use it, although doing so will ensure consistency between roles, and will also save you time and effort when planning your interview.

We use the ‘experience’ [civil service success profile](https://www.gov.uk/government/publications/success-profiles) in our interviews for all roles.

### Interview format for junior user researchers

For junior user researchers, we suggest a one hour interview with a task and 3 interview questions.

Each question should cover one of the three essential criteria. The task could focus on one criteria, or you could use it as an opportunity to additionally assess against all the essential criteria. 

For a junior role, it is important that you are assessing the candidate’s potential: they may not have extensive user research experience, but they may have relevant and transferrable skills and experience.

### Interview format for user researchers, senior user researchers and lead user researchers

For user researchers, senior user researchers and lead user researchers, we suggest a 90 minute interview, with a task and 4 interview questions.

Each interview question should cover one of the essential criteria. You should always include questions covering the top two criteria (Research methods and planning, and Analysis and synthesis).

The other two questions should be on the criteria that you think are most important/relevant to your specific role and business area (e.g. if you have a lot of ethically tricky research, you might decide to ask a question around the Ethics and safeguarding essential criteria). 

The task will generally ask candidates to give their approach to a hypothetical research situation, which you could use to additionally assess all criteria, or to focus on one or two that are particularly important to your role.

### Giving feedback to candidates after interviews

You should always give candidates constructive feedback alongside their interview scores: be respectful of their time and interest in DfE.

Consider offering them a call to give face-to-face feedback. Candidates who were unsuccessful want to understand where they need to improve or develop, and for successful candidates this will demonstrate a commitment to their professional development before they enter the department, or move into your business area.

## Get advice and support
For [support and advice in planning a role and interviewing user research candidates](people.html#user-research-leadership-team), speak to your lead user researcher or to the head of user research.
