---
title: Recruiting a user researcher for your team
weight: 220
---

<%= partial "ga" %>

<a href="index.html" class="govuk-back-link">Back to About user research at DfE</a>

# Recruiting a user researcher for your team

<blockquote>
<p>Department for Education user research job vacancies are advertised on <a href="https://www.civilservicejobs.service.gov.uk/">Civil Service Jobs</a>.</p>
</blockquote>

It's important that when we recruit civil servant user researchers into Department for Education, or promote people into new roles, that we are consistent in the way we describe and advertise the role, and how we assess them in their application and interview.

We're developing a toolkit to easily put together job descriptions, and interview tasks and questions (see our <a href="developing-ur-profession.html">profession roadmap</a>).

Until then, <a href="people.html">speak to your lead user researcher if you have one in your portfolio, or the head of user research</a> for advice on recruitment campaigns for user researchers.

## User researcher roles and grades

To ensure consistency across the department, it is critical that teams recruit user researchers at the correct Civil Service grades for the roles. This ensures consistency of pay bands between people with the same job title, and it ensures user researchers and their teams have the same expectations of the role.

We follow the <a href="https://www.gov.uk/guidance/user-researcher">standard UK government DDaT (Digital, Data and Technology) user research roles, as described on GOV.UK</a>.

You must not recruit a user researcher with any other job title, and you must always recruit roles to the following grades:

* Junior user researcher - HEO
* User researcher - SEO
* Senior user researcher - Grade 7
* Lead user researcher - Grade 6 (If you are recruiting a lead user researcher, please involve the head of user research in planning your campaign)
* Head of user research - Grade 6

Note that unlike some departments, we have a single head of user research role. If you are recruiting a Grade 6 into a portfolio, you must always advertise and recruit this as a lead user researcher.
