---
title: Working groups and interest groups
weight: 100
---

<%= partial "ga" %>

# Working groups and interest groups

Whatever your interest in user research, there are probably other researchers in our commnunity who share it. We have lots of voluntary working groups and interest groups: groups of user researchers (and sometimes people from other professions) who come together to talk about a shared interest, share experiences, and sometimes design best practice.

We invite and encourage every user researcher to get involved with a working group or interest group. This includes contractors: we really value the expertise and experiences you bring from other organisations you've worked in.

For civil servant user researchers, actively contributing to one of these groups could form your <a href="/-career-development-and-support/profession-objectives">profession objective</a>.

Our current groups are listed below, with the people to contact if you would like to get involved.

If you don't see a group formed around your interest, then why not start it yourself? Use our <a href="/communities-of-practice.html">community Slack channels</a> to find people who share the interest, get together, and <a href="/contribute.html">let us know so we can add it to this page</a>.

## Working groups and initiatives

As well as to allow people with a shared interest to come together, our working groups have been set up to create community-led improvements to our user research practice at DfE. They each have a defined goal, and will create outputs: for example, our Ethics working group was set up to deliver a set of <a href="/-standards-and-gudiance/ethical-research/">DfE standards and guidance for ethical user research</a>.

Some of these groups are focused on developing UR practice and capability across the whole of DfE. Others have been formed to experiment around a topic in a single programme or portfolio, in order to identify changes that might in the future be rolled out across DfE.

These groups will be led by, or will have involvement from, a Lead User Researcher or the Head of User Research.

| __Working group__  | __Contact__ | __Purpose__ |
|---------------|---------------|---------------|
|__Community strategy working group__|<a href="https://ukgovernmentdfe.slack.com/team/ULMNJG00G">Charly Dalby</a>|Continually develop our approach to delivering high quality and valuable UR community events for all user researchers|
|__Ethics working group__|<a href="https://ukgovernmentdfe.slack.com/team/U0360NUT6PJ">Will Finn</a>|xxxxxxxx|
|__Training working group__|<a href="https://ukgovernmentdfe.slack.com/team/U035FP68FPB">Annaliese Lamb</a>|xxxxxxxxx|

## Interest groups

Interest groups are self-formed and self-directed by user researchers in our community, sometimes alongside colleagues from other professions. They are normally formed around a single topic, and (unlike working groups) they don't necessarily have a defined goal or output (although members may decide that they want to create something, for example a standard or guidance). They exist for us to come together and talk with likeminded friends about the topics that interest us.

| __Interest group__  | __Contact__ | __Topic__ |
|---------------|---------------|---------------|
