---
title: Assuring your research
weight: 300
---

<%= partial "ga" %>
<script src="https://kit.fontawesome.com/f3917b32f1.js" crossorigin="anonymous"></script>

# Assuring your research

It's important that we know that we are doing a good job, and that our work meets and exceeds standards.

## The service standard and service assessments

Your work must always meet the government service standard. Advice and guidance on what this enatails is on <a href="https://apply-the-service-standard.education.gov.uk/">Apply the service standard in Department for Education</a>. That website also describes our service assessment process.

Sometimes your team won't go through a service assessment. This could be because it for example because it is an internal service, 


# Meeting user research professional standards

<blockquote>
<p>We're developing a framework of professional standards for user research, and a single department-wide peer review and assurance process for user research. See our (see our <a href="developing-ur-profession.html">profession roadmap</a>.)</p>
<p>Until then, use the advice below.</p>
</blockquote>

As well as meeting the service standard, your research must always be <strong>ethical</strong>, <strong>legal</strong> and <strong>safe</strong>. Use the standards in this website where they have already been developed. Otherwise, you should aim to meet other existing industry standards, like those of the <a href="" style="background-color:yellow important!">Market Research Society</a>.

For advice on research ethics, you can ask our <a href="ethics-advice.html">Ethics advisory panel</a>.

For more advice on planning or delivering research to a high standard, you can use our <a href="communities-of-practice.html">community Slack channels</a>, and <a href="people.html">speak to your lead user researcher if you have one in your portfolio, or the head of user research</a>.
