---
title: Get advice about research ethics
weight: 300
---

<%= partial "ga" %>
<script src="https://kit.fontawesome.com/f3917b32f1.js" crossorigin="anonymous"></script>

# Get advice about research ethics

Our <a href="/-about-ur-at-dfe/working-groups-and-interest-groups.html">ethics working group</a> run a Slack channel where you can ask for advice on ethical issues related to user research. They aim to reply within 3 working days.

The channel on DfE Slack is <a href="https://ukgovernmentdfe.slack.com/archives/C03MMLGDC4B" target="_blank">#ethicsadvisorygroup (opens in a new window)</a>
