---
title: Our user research principles
weight: 200
---

<%= partial "ga" %>

<div class="dfe-hero">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-font-size-48"><%=current_page.data.title%></h1>
      <p>The principles user researchers in the Department for Education work to and information about how user researchers in the department are supported to work in these ways. </p>
      <h2 class="govuk-heading-m govuk-!-margin-top-9"></h2>
        <div class="cards card-thirds">
        <ul>
         <li class="card">
            <div class="text">
              <h3>
                <a href="/-principles/principle-1.html">We include all of our users, and bring them to the heart of the department's work</a>
              </h3>
              <p>researching in a way that is inclusive of all our users, and ensuring our teams understand them and their needs.</p>
            </div>
          </li>
          <li class="card">
            <div class="text">
              <h3>
                <a href="/-principles/principle-2.html">We are objective and use evidence</a>
              </h3>
              <p>helping our teams to do what’s right for users, avoiding assumptions, and mitigating biases.</p>
            </div>
          </li>
          <li class="card">
            <div class="text">
              <h3>
                <a href="/-principles/principle-3.html">We do high quality, safe and ethical research</a>
              </h3>
              <p>ensuring we and our teams always meet high professional standards for user research. </p>
            </div>
          </li>
          <li class="card">
            <div class="text">
              <h3>
                <a href="/-principles/principle-4.html">We are adaptable and collaborative, and focus our research in the right places</a>
              </h3>
              <p>working in our teams and with other user researchers to help deliver DfE’s goals.</p>
            </div>
          </li>
          <li class="card">
            <div class="text">
              <h3>
                <a href="/-principles/principle-5.html">We learn by ourselves and as a community</a>
              </h3>
              <p>developing as user researchers, and coming together in our user research community.</p>
            </div>
          </li>
          <li class="card">
            <div class="text">
              <h3>
                <a href="/-principles/principle-6.html">We celebrate our work, and help others understand what we do</a>
              </h3>
              <p>advocating for user research in our teams, the department, and the wider world.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


