---
title: DfE user research principle 2
weight: 20
---

<%= partial "ga" %>

<div class="dfe-hero">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full"><a href="/-principles/" class="govuk-back-link">Back to User Research Principles</a>
			<h1 class="govuk-heading-l">Principle 2: <br>We are objective and use evidence</h1>
			<p><strong class="govuk-tag">Beta</strong> This principle is about <strong>helping our teams to do what's right for users, avoiding assumptions, and mitigating biases.</strong></p>
            <p>It means that we use evidence to explain the problems we're trying to solve. We understand where bias and assumptions might impact our insights, always testing and mitigating against this. We help our teams do what's right for our users, not what's popular.</p>
		</div>
	</div>
</div>

## How you know you're doing it

As a user researcher at DfE, you’ll know you’re successfully doing this because:

- You always conduct desk research as part of your research, using existing insight and evidence to inform your own research plan
- You are aware of and challenge your own assumptions and biases, and those in your team and stakeholders
- You can demonstrate how user needs are reflected in your team’s design decisions
- People from across team and stakeholders observe research and get involved in your activities like planning and analysis
- You are able to challenge decisions where users' needs are not being prioritised
- People in your team can describe your users accurately and without using assumptions

## How we support you

Right now, we help you to do this with:

- <a href="/-tools-and-templates/finding-existing-research.html">Our department-wide research and evidence library</a>
- Links to <a href="/-tools-and-templates/finding-existing-research.html">other departmental data and evidence, and to academic and other third-party research</a> sources
- <a href="/-recruiting-participants/sample-bias.html">Gudiance about research biases</a>

In the future see <a href="/-about-ur-at-dfe/developing-ur-profession.html">(our profession roadmap</a>), there will also be:

- Baseline insights about all common user groups in the department
- Insight management tools in each portfolio

<blockquote>
<p><strong class="govuk-tag">Beta</strong> These principles are in public beta. We're testing them, and need your feedback</p>
<p><a href="" style="background:yellow">DfE user researchers can add thoughts and comments to this Lucid Spark whiteboard</a> and anybody outside the department is welcome to <a href="/give-feedback.html">give feedback</a></p>
</blockquote>