---
title: DfE user research principle 1
weight: 10
last_reviewed_on: 2022-12-21
review_in: 6 months
---

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-85FBSF3SP6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-85FBSF3SP6');
</script>

<div class="dfe-hero">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full"><a href="/-principles/" class="govuk-back-link">Back to User Research Principles</a>
			<h1 class="govuk-heading-l">1. We include all of our users, and bring them to the heart of the department's work</h1>
			<p>This principle is about researching in a way that is inclusive of all our users, and ensuring our teams understand them and their needs.</p>
			<p>It means that when we research, we include a broad range of users to make sure we have a deep and contextual understanding of all our users and their needs, using their own words to tell the right stories.</p>
		</div>
	</div>
</div>


## How you know you're doing it

As a user researcher at DfE, you’ll know you’re successfully doing this because:

- You recruit users diversely and inclusively, thinking about how to fully represent your service users across your research
- You are able to fluently talk about your users, the problems they face, and how your service area or project fits into wider aspects of their lives
- You understand how being a member of a minority or excluded group may impact a user's experiences of DfE and their needs of your service
- You know the population sizes of different groups of users of your service, and can demonstrate how your user research complements this data
- You have researched with users with disabilities, and users of assistive technology
- You are open to feedback from research participants, and use this to improve your practice

## How we support you

Right now, we help you to do this with:

- <a href="/-recruiting-participants/using-a-commercial-recruitment-agency.html#recruiting-participants-using-a-commercial-agency">Access to a specialist participant recruitment supplier, and support and guidance to use them</a>
- <a href="/-recruiting-participants/using-incentives.html">Access to incentives</a>
- <a href="/-recruiting-participants/recruiting-people-yourself.html">Self-recruitment guidance (beta)</a>
- <a href="/-ethics-safeguarding-inclusive/inclusive-research/">Inclusive research guidance (beta)</a>

In the future see (<a href="/-about-ur-at-dfe/developing-ur-profession.html">our profession roadmap</a>), there will also be:

- Our own participant panel to recruit from
- Participant recruitment specialists in each portfolio
- Access to a range of specialist participant recruitment suppliers
- Full inclusive research guidance, training and support
- A comprehensive incentives policy, covering different situations and usages of incentives across the department
- A method to gather feedback from participants’ on their experience of our research

<blockquote>
<p><strong class="govuk-tag">Beta</strong> These principles are in public beta. We're testing them, and need your feedback</p>
<p><a href="https://lucid.app/lucidspark/7ba25855-781b-41c6-82dd-606983a73cf3/edit?viewport_loc=-2692%2C-2537%2C13015%2C7437%2C0_0&invitationId=inv_7daa4cf9-e8c6-4192-84e7-455a8f35d636">DfE user researchers can add thoughts and comments to this whiteboard</a> and anybody outside the department is welcome to <a href="/give-feedback.html">give feedback</a></p>
</blockquote>