---
title: DfE user research principle 6
weight: 60
---

<%= partial "ga" %>

<div class="dfe-hero">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full"><a href="/-principles/" class="govuk-back-link">Back to User Research Principles</a>
			<h1 class="govuk-heading-l">Principle 6: <br>We celebrate our work, and help others understand what we do</h1>
			<p><strong class="govuk-tag">Beta</strong> This principle is about <strong>advocating for user research in our teams, the department, and the wider world.</strong></p>
            <p>It means that we always work in the open and share our findings widely: seeking out opportunities to talk inside and outside the department about our methods, ways of working, and what we have tried and learned. We celebrate our triumphs, and the achievments of our colleagues. We are advocates for user research - and for the user research community in Department for Education.</p>
		</div>
	</div>
</div>

## How you know you're doing it

As a user researcher at DfE, you’ll know you’re successfully doing this because:

- People in your team can clearly articulate what your role is, and how you work
- You have talked or presented at UR community or other showcases, about insights you’ve uncovered, or methods and ways of working you’ve used
- You have talked or presented outside of DfE, about your work in the department

## How we support you

Right now, we help you to do this with:

- <a href="" style="background:yellow">Access to department-wide show and tells to showcase your work (Show The Thing)</a>

<blockquote>
<p><strong class="govuk-tag">Beta</strong> These principles are in public beta. We're testing them, and need your feedback</p>
<p><a href="" style="background:yellow">DfE user researchers can add thoughts and comments to this Lucid Spark whiteboard</a> and anybody outside the department is welconme to <a href="/give-feedback.html">give feedback</a></p>
</blockquote>