---
title: Principle 2 - We are objective and use evidence
weight: 20
last_reviewed_on: 2022-11-17
review_in: 6 months

---

<%= partial "ga" %>

<div class="dfe-hero">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full"><a href="/-principles/" class="govuk-back-link">Back to User Research Principles</a>
			<h1 class="govuk-heading-l">Principle 2: <br>We are objective and use evidence</h1>
			<p>This principle is about <strong>taking an evidence-led mindset, and challenging biases</strong>.</p>
            <p>As a user researcher at DfE, it means that you use evidence to explain the problems you're trying to solve. You understand where bias and assumptions might impact your insights, always testing and mitigating against this. You do what's right, not what's popular. And you are efficient, by learning from and building on existing research and evidence.</p>

		    <div class="bordered-top--dark"></div>
		</div>
	</div>
</div>


## You’ll know you’re successfully doing this because:

- You are challenging your own assumptions and bias, and those in your team and stakeholders
- You have conducted desk research as part of your research, using existing insight and evidence to inform your own research plan
- You can clearly explain the rationale for your research
- You understand and can explain the risks of bias in research
- You take the time to learn what has gone well and what could be improved in your research

## How we help you to do this:

- Our department-wide research and evidence library ('RED')
- Links to other departmental data and evidence, and to academic and other third-party research sources
- Links to resources and training on bias

### In the future we also plan:

- Insight management tools in each portfolio
- Baseline insights about all common user groups in the department
- Training on research biases

Find out <a href='LINKTBC'>how we plan to develop our user research profession</a>





<div class="dfe-pager">
	<a href="/service-standard/2-solve-a-whole-problem.html" class="dfe-pagination">
		<svg class="dfe-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
			<path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
		</svg> <span class="dfe-pagination-action">
    Previous principle</span>
		<div class="dfe-pagination-page">1.We tell all of our users’ stories</div>
	</a>
	<a href="/service-standard/4-make-the-service-simple-to-use.html" class="dfe-pagination">
		<svg class="dfe-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
			<path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
		</svg> <span class="dfe-pagination-action">Next principle</span>
		<div class="dfe-pagination-page">3. Our research is high quality, safe and ethical</div>
	</a>
</div>
