---
title: User researcher capability framework
weight: 10
---

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-85FBSF3SP6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-85FBSF3SP6');
</script>

<a href="index.html" class="govuk-back-link">Back to Developing your user research career at DfE</a>

# User researcher capability framework

We're developing a single capability framework for user researchers across Department for Education: a set of skills mapped to our role levels (junior user researcher, user researcher, senior user researcher, lead user researcher, and head of user research). 

This will let you and your line manager or profession manager assess your skills and experience against your role, identifying your development needs and opportunities. In the future, this will also feed into capability-based pay.

We expect to have a beta capability framework in early 2023 (see our <a href="/-about-ur-at-dfe/developing-ur-profession.html">profession roadmap</a>).

Until this is in place, make sure you have regular career conversations with your <a href="profession-management-mentoring-buddying.html">line manager, profession manager, or mentor</a>.