---
title: Developing your user research career at DfE
weight: 800
---

<%= partial "ga" %>

<div class="dfe-hero">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-font-size-48"><%=current_page.data.title%></h1>
      <p>The following tools and opportunities are available to help you progress in your user research career in the department.
      <h2 class="govuk-heading-m govuk-!-margin-top-9">Development opportunities and tools</h2>
        <div class="cards card-thirds">
        <ul>
         <li class="card">
            <div class="text">
              <h3>
                <a href="/-career-development-and-support/profession-objectives.html">Profession objectives</a>
              </h3>
              <p>Guidance on writing effective user research profession objectives.</p>
            </div>
          </li>
          <li class="card">
            <div class="text">
              <h3>
                <a href="/-career-development-and-support/profession-management-mentoring-buddying.html">Profession-based support</a>
              </h3>
              <p>Information about the profession management, mentoring and buddying schemes available for user researchers.</p>
            </div>
          </li>
          <li class="card">
            <div class="text">
              <h3>
                <a href="/-career-development-and-support/training%20and%20guidance.html">Training opportunities</a>
              </h3>
              <p>A range of training and online resources available to user researchers in the department.</p>
            </div>
          </li>
          <li class="card">
            <div class="text">
              <h3>
                <a href="/-career-development-and-support/capability-framework.html">Capability framework</a>
              </h3>
              <p>Information about the user research capability framework designed to support development needs and opportunities.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

