---
title: Profession objectives
weight: 30
---

<%= partial "ga" %>

# Profession objectives

All civil servant user researchers should have a profession objective: something that you do outside of the work in your immediate team that actively contributes to our user research community, or to the development of our user research profession in Department for Education.

This should be written down in your objectives (alongside your work and professional development objective) with your line manager. It should have an outcome: e.g. attending an <a href="/-about-ur-at-dfe/working-groups-and-interest-groups.html">interest group</a> isn't enough, but attending and creating some guidance content for this website, or doing a talk about it to your programme, or experimenting in your team with what you've learned, could be.

We expect that as you progress in your user research career, you contribute more in your profession objectives: for example, we expect a senior user researcher to be more active in helping to share their experience to develop the profession than a junior user researcher.

If your line manager isn't a user researcher, and you have a <a href="profession-management-mentoring-buddying.html">profession manager</a> instead, then you should plan your profession objective with them, and they should attend some of your <a href="https://educationgovuk.sharepoint.com/sites/human-resources/SitePages/ABLE.aspx">ABLE conversations (opens in a new window)</a> alongside your line manager.