---
title: Profession management, mentoring and buddying
weight: 20
last_reviewed_on: 2022-12-21
review_in: 6 months
---

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-85FBSF3SP6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-85FBSF3SP6');
</script>

<a href="index.html" class="govuk-back-link">Back to Developing your user research career at DfE</a>

# Profession management, mentoring and buddying

Our goal is for every civil servant user researcher to be line managed by a user researcher in your programme of work. This isn't currently possible because of the numbers of people we have at different grades, and the way user researchers are spread across the department.

However, it is important that you are supported by someone in your own profession: for career advice and feedback on your work.

Some user researchers have a profession manager: this is somebody from a different portfolio, who has regular one-to-ones with you to talk about your performance and goals as user researcher, identify good professional development objectives and learning opportunities, and supporting you with questions that you have. They will attend one in three of your ABLE meetings with your line manager.

We are developing a full profession management and mentoring programme, and we want all new starters to have a 'buddy' to help them find their way around our user research ways of working, guidance and principles (<a href="/-about-ur-at-dfe/developing-ur-profession.html">See our profession roadmap</a>)

Until then, if you are not being supported by another user researcher, <a href="/-about-ur-at-dfe/people.html">contact the head of user research who will find you a match</a>.