---
title: Training and online resources
weight: 700
---

<%= partial "ga" %>

# Training and online resources

<blockquote>
<p><strong class="govuk-tag">Beta</strong> This content has been written by our user research community, and is in beta. It is likely to change over time.</p>
<p>Your <a href="/give-feedback.html">feedback and ideas</a> will help develop it</p>
</blockquote>

Training budgets sit in your portfolio or business area. If you have identified a training course you'd like to take (using the user researcher caopability framework to identify your development needs, and with the support of your line manager, profession manager, or mentor) then speak to your line manager about how funding works.

## Introduction to user research in government

The cross-government <a href="https://www.gov.uk/guidance/gds-academy-courses#understanding-users-and-their-needs-online-course">Understanding users and their needs training course</a> is a good introduction to conducting user research in the context of government. 


## Online resources

Our user research community has crowd-sourced some books and websites that we've found interesting and useful:

Books:

- <a href="https://www.amazon.co.uk/Interviewing-Users-Uncover-Compelling-Insights/dp/193382011X">Interviewing Users: How to Uncover Compelling Insights by Steve Portigal</a>
    - Steve also ran a podcast on user research you might find interesting, called <a href="https://podcasts.google.com/feed/aHR0cHM6Ly9wb3J0aWdhbC5jb20vcG9kY2FzdC9mZWVkL3BvZGNhc3Q?sa=X&ved=0CAMQ4aUDahcKEwjY9OPWgYP7AhUAAAAAHQAAAAAQAQ&hl=en-GB">Dollars to Donuts</a>
- <a href="https://www.amazon.co.uk/Just-Enough-Research-Erika-Hall/dp/1937557103">Just Enough Research by Erika Hall</a>
- <a href="https://www.amazon.co.uk/Good-Services-Decoding-Mystery-Service/dp/9063695438">Good Servicesn by Lou Downe</a>
- <a href="https://www.amazon.co.uk/User-Research-Practical-Designing-Products/dp/0749481048">User Research: A Practical Guide to Designing Better Products and Services by Stephanie Marsh</a>
- <a href="https://www.amazon.co.uk/Think-Like-Researcher-David-Travis/dp/1138365297">Think like a UX researcher - user experience strategy by David Travis and Philip Hodgson</a>

Websites:

- <a href="https://www.uxmatters.com/top-articles.php">UXmatters</a>
    - a great source of articles about user research and the pros and cons of various methods
    - For example: <a href="https://www.uxmatters.com/mt/archives/2010/01/unmoderated-remote-usability-testing-good-or-evil.php">Unmoderated, Remote Usability Testing: Good or Evil?</a>
- Neilson Norman group - lots of articles, all really useful
    - <a href="https://www.nngroup.com/articles/which-ux-research-methods/">When to use which user-experience research methods</a>
    - <a href="https://www.nngroup.com/articles/empathy-mapping/">Empathy mapping</a>
    - <a href="https://www.nngroup.com/articles/thematic-analysis/">Thematic analysis</a>
    - <a href="https://www.nngroup.com/articles/better-usability-tasks/">Writing usability tasks</a>
    - <a href="https://www.nngroup.com/articles/ux-research-cheat-sheet/">UX research cheat sheet</a>


## What next?

In the future, we plan to develop a cross-profession training strategy, with a mix of in-house trianing courses and recommended third-party training. <a href="/-about-ur-at-dfe/developing-ur-profession.html">See our profession roadmap</a>.

You can <a href="/-about-ur-at-dfe/working-groups-and-interest-groups.html">join the Training working group</a> and help them do this.
