---
title: Give feedback
weight: 0
hide_in_navigation: true
---


<%= partial "ga" %>

# Give feedback 

<div class="dfeuk-example-callout">
 <h3 class="dfeuk-tag dfeuk-example-callout__heading">
 <span role="text">
<span class="dfeuk-u-visually-hidden">Important: </span>Get help</span></h3>
<p><b>This form is for giving feedback about this website. </b></p><p>
</p><p>For Department for Education staff looking for help from the Research Operations team, contact us in Slack.
 </div>

<div class="govuk-inset-text">
  
<p>This form is for issues or feedback to do with the Department for Education's user research manual website, which is owned and managed by the Research Operations team.</p>

<p>You can use it to report a problem or suggest an improvement. </p>

<p>We don’t have access to information about you held by government departments. </p>

<p>If you have a question about a government service or policy, <a href="https://www.gov.uk/help" target="_blank">check the help pages</a> or <a href="https://www.gov.uk/government/organisations" target="_blank">contact the government department directly</a>. <p>

</div>

<a href="https://docs.google.com/forms/d/e/1FAIpQLSeCytimcQvvFaZCxrRvmq9xmQ16ByJ_0FtFImMd_J-eqU-Juw/viewform?usp=sf_link" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button" target="_blank">
Give feedback
<svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
<path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
</svg></a>