---
title: User research in Department for Education
weight: 0
hide_in_navigation: true
---

<%= partial "ga" %>

<div class="dfe-hero">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-font-size-48"><%=current_page.data.title%></h1>
<!-- DELETE THIS BLOCK BEFORE FULL BETA LAUNCH -->
      <div class="fullCTA"> 
         <p>This manual is currently in development, and will launch into Beta in mid-December. Until then, you should not use or rely on any of the content it contains.</p>
      </div>
<!-- ---- ---- ---- ---- ---- ---- ---- ---- -->
      <p>Guidance, information and support for any user researcher working in Department for Education</p>
      <p>This manual should be used alongside the DfE <a href="https://apply-the-service-standard.education.gov.uk/" target="blank">Apply the Service Standard manual</a>, and it complements <a href="https://www.gov.uk/service-manual/user-research">the user research section in the UK Government Service Manual</a>, which covers user research more broadly.</p>
      <div class="cards card-thirds">
       <ul>
         <li class="card">
            <div class="text">
               <h3><a href="/service-standard/">New to Department for Education?</a></h3>
               <p>What you need to know if you've just joined DfE as a civil servant or contractor user researcher.</p>
            </div>
         </li>
         <li class="card">
            <div class="text">
               <h3><a href="/accessibility/">Community meetups and Slack channels</a></h3>
               <p>How we come together as one DfE user research community to learn and support each other.</p>
            </div>
         </li>
      </ul>
      </div>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">Our working principles of user research <strong class="govuk-tag">Beta</strong></h2>
      <p class="govuk-body">These are the principles that, as a user researcher at DfE, you should always follow. <a href="/-principles/">Find out more about our principles, why they exist, and how we help you meet them.</a></p>
      <div class="cards card-thirds">
         <ul>
            <li class="card">
               <div class="text">
                  <h3><a href="/-principles/principle-1.html" rel="noopener noreferrer">1. We include all of our users, and bring them to the heart of the department's work</a></h3>
                  <p>This principle is about <strong>researching in a way that is inclusive of all our users, and ensuring our teams understand them and their needs.</strong></p>
               </div>
            </li>
            <li class="card">
               <div class="text">
                  <h3><a href="/-principles/principle-2.html" rel="noopener noreferrer">2. We are objective and use evidence</a></h3>
                  <p>This principle is about <strong>helping our teams to do what's right for users, avoiding assumptions, and mitigating biases.</strong></p>
               </div>
            </li>
            <li class="card">
               <div class="text">
                  <h3><a href="/-principles/principle-3.html" rel="noopener noreferrer">3. We do high quality, safe and ethical research</a></h3>
                  <p>This principle is about <strong>ensuring we and our teams always meet high professional standards for user research.</strong></p>
               </div>
            </li>
            <li class="card">
               <div class="text">
                  <h3><a href="/-principles/principle-4.html" rel="noopener noreferrer">4. We are adaptable and collaborative, and focus our research in the right places</a></h3>
                  <p>This principle is about <strong>This principle is about the way we work in our teams and with other user researchers to help deliver DfE's goals.</strong></p>
               </div>
            </li>
            <li class="card">
               <div class="text">
                  <h3><a href="/-principles/principle-5.html" rel="noopener noreferrer">5. We learn as a commnunity and by ourselves</a></h3>
                  <p>This principle is about <strong>developing as user researchers, and coming together in our user research community.</strong></p>
               </div>
            </li>
            <li class="card">
               <div class="text">
                  <h3><a href="/-principles/principle-6.html" rel="noopener noreferrer">6. We celebrate our work, and help others understand what we do</a></h3>
                  <p>This principle is about <strong>advocating for user research in our teams, the department, and the wider world.</strong></p>
               </div>
            </li>
         </ul>
      </div>
   </div>
</div>
