---
title: User research at Department for Education
weight: 0
hide_in_navigation: true
---

<%= partial "ga" %>
<script src="https://kit.fontawesome.com/f3917b32f1.js" crossorigin="anonymous"></script>

<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    This website is under construction. The information is likely to change.
  </strong>
</div>

 <div class="dfe-hero">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl govuk-!-font-size-80">User Research in the Department for Education
       </h1>
      <p class="govuk-body-l">Working to consistent principles, guidelines and standards enables us to deliver joined-up, effective, targeted and trusted research with and for our users.
      <p class="govuk-body-l">
      This manual should be used alongside the <a href="https://apply-the-service-standard.education.gov.uk/" target="blank">Apply the Service Standard manual</a>.
      </p>
    </div>
    <div class="govuk-grid-column-one-third standards-icon">
     <i class="fa-solid fa-users fa-10x"></i>
    </div>
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m bordered-top">Our principles</h2>
      <div class="cards">
        <ul>
          <li class="card" style="cursor: pointer;">
            <div class="text">
              <h3>
               We represent all our users by bringing them to the heart of our work
              </h3>
              <p>This is an explanation of the principle.</p>
            </div>
          </li>
          <li class="card" style="cursor: pointer;">
            <div class="text">
              <h3>
                We are driven by evidence and objectivity
              </h3>
              <p>This is an explanation of the principle.</p>
            </div>
          </li>
          <li class="card" style="cursor: pointer;">
            <div class="text">
              <h3>
                We advocate for user research inside and outside of the profession
              </h3>
              <p>This is an explanation of the principle.</p>
            </div>
          </li>
          <li class="card" style="cursor: pointer;">
            <div class="text">
              <h3>
                We champion high quality and ethical research
              </h3>
              <p>This is an explanation of the principle.</p>
            </div>
          </li>
          <li class="card" style="cursor: pointer;">
            <div class="text">
              <h3>
                We align research with where it will add value
              </h3>
              <p>This is an explanation of the principle.</p>
            </div>
          </li>
        </ul>
    

