---
title: Doing user research under the Civil Service code
weight: 30
last_reviewed_on: 2022-07-26
review_in: 1 year
---

<%= partial "ga" %>

<a href="index.html" class="govuk-back-link">Back to User research as a DfE civil servant</a>
# Doing user research under the Civil Service code

<blockquote>
<p><strong class="govuk-tag">Beta</strong> This guidance is in beta. It is likely to change over time.</p>
<p>Your <a href="/give-feedback.html">feedback</a> will help develop it</p>
</blockquote>

<%= warning_text("Not acting within the civil service code when conducting your user research could be a serious disciplinary offence")%>

The way you perform your user reserch, the recommendations you make to your team and stakeholders, and the way you interact with members of the public, must always fall under <a href="https://www.gov.uk/government/publications/civil-service-code/the-civil-service-code">the Civil Service code</a>. 

The Civil Service code is the set of core values and principles that all civil servants must work to when carrying out our official duties, regardless of role or grade. 

These are:

- <strong>integrity</strong> - putting the obligations of public service above your interests
- <strong>honesty</strong> - being truthful and open
- <strong>objectivity</strong> - basing your advice and decisions on rigorous analysis of the evidence
- <strong>impartiality</strong> - acting solely according to the merits of the case and serving equally well governments of different political persuasions.

These are values that we already recognise as user researchers: you are probably working in this way already. However, is is still important to read and understand the code, and consider how this applies to the way you do your job as a user researcher.

Remember that in addition to the Civil Service code, you may need to work differently or change your plans in the weeks before before elections, in <a href="pre-election-periods.html">pre-election periods</a>.

During user research, this could mean:

- not engaging in conversation with participants about ministers, policitcal parties, political individuals, and policies not related to your research (if participants raise these topics, you can politely tell them why you can't discuss them)
- always being aware of your own politcial views, and how this could influence and bias your research goals and recommendations
- for research around a politcally sensitive policy, considering gathering voting intention as part of your recruitment criteria, to help mitigate ensure your sample is not polictically skewed (remembering that this is sensitive information and should always be managed in line with the <a href="/-managing-participant-data-correctly/">guidance for managing personal data</a>).

If you are not sure whether research you have planned or conducted is within the spirit of the Civil Service code, speak to your line manager or lead user researcher.

<blockquote>
<p>If you feel you are being asked to work in a way which conflicts with the values set out in the Code, you have a right to <a href="https://www.gov.uk/government/publications/civil-service-code/the-civil-service-code#:~:text=or%20your%20actions.-,Rights%20and%20responsibilities,-Your%20department%20or">challenge or raise a concern</a>.</p>
</blockquote>

