---
title: Pre-election periods
weight: 40
last_reviewed_on: 2022-12-21
review_in: 6 months
---

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-85FBSF3SP6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-85FBSF3SP6');
</script>

<a href="index.html" class="govuk-back-link">Back to User research as a DfE civil servant</a>

# Researching in pre-election periods

<blockquote>
<p><strong class="govuk-tag">Beta</strong> This guidance is in beta. It is likely to change over time.</p>
<p>Your <a href="/give-feedback.html">feedback</a> will help develop it</p>
</blockquote>

<%= warning_text("Breaking pre-election rules as a civil servant could be a serious disciplinary or dismissible offence. If in any doubt, check with your SRO, or delay your research.")%>

Civil servants must act in a politcially impartial way (always following <a href="civil-service-code.html">the Civil Service Code</a>). In the weeks before a general election, local elections, assembly elections, and any other UK elections or referedums, there are some extra restrictions on the types of activity civil servants, as well as local authorities, can perform.

In some instances, this can affect user research.

You should consider whether your reesarch is appropriate and within the rules in a pre-election period.

## When do pre-election periods start?

Before an election, Cabinet Office will announce the date when the pre-election period starts. This is typically (but not always) six weeks before an election. It will be formally announced on GOV.UK, and we will republish this in the <a href="https://ukgovernmentdfe.slack.com/archives/C53D6R7SP" target="_blank">#user_research Slack channel</a>.

You should make sure your team is aware that elections may cause some changes to your research activity, so that when the dates of elections are known well in advance (e.g. local elections, mayoral elections) this can be planned into the prioritisation of work in your team.

## Researching in pre-election periods

Typically, if your user research is part of the design of a service, it can continue during a pre-election period. This is because services are delivering an already-announced policy. 

However, there are some subjects and methods that you may need to avoid.

If your research is feeding into policy design, or the design of a service that has not been formally announced to the public, then you should avoid researching with members of the public.

If you are working on a service or policy area that could be contentious, or talked about or debated by election candidates, then you should avoid researching with members of the public.

<strong class="govuk-tag">Must not</strong> - during a pre-election period you <strong>must not</strong>:

- research themes or issues that might be raised by politicians or be of interest to lobby groups, or could impact the outcome of elections. This may change depending on the type of election (general election or local elections); for example in local elections researching a topic where local authorities do service delivery, e.g. children's social care or LA-maintained schools
- engage in any political conversation, or conversation about the elections, with research participants. If they express a political opinion, remain neutral and professional and explain you are unable to comment if you are invited to.
- promote user research activities outside the department, or publish results on blogs or other public channels (including your own social media).


## Recruiting participants during pre-election periods

<strong class="govuk-tag">Can</strong> - during a pre-election period you <strong>can</strong>:

- recruit members of the public through recruitment agencies, as long as initial adverts and screeners do not mention or imply that the research is for a government service
- invite participants from existing user research panels - this is especially helpful for any sensitive research 
- use internal channels to recruit colleagues for user research on internal aspects of services

<strong class="govuk-tag">Must not</strong> - during a pre-election period you <strong>must not</strong>:

- recruit participants directly online, for example, through government or personal social media accounts
- do any pop-up research where you recruit users on the day

## Further guidance

As long as your research is not contentious and cannot possibly influence the outcome of an election, it's generally safe to proceed during a pre-election period. However, it’s advisable to err on the side of caution and to sense-check your research with your team.

If you are unsure whether your research is 'safe', raise a project risk with your service's delivery manager, or speak to a Lead User Researcher for advice on how you can manage or mitigate risk. Specific workarounds may work for your service, meaning research can go ahead, e.g. by testing non-politically sensitive parts of the service.

In some instances, it may be necessary to get an agreement to proceed with the Senior Responsible Officer (SRO) or other Deputy Director who has accountability for your service. If you have a Lead User Researcher in your portfolio, they can advise whether they feel this is necessary, and your Delivery Manager can arrange this.

In addition to this guidance, the Cabinet Office publishes <a href="https://www.gov.uk/government/publications/election-guidance-for-civil-servants">guidance on the conduct of civil servants in the pre-election period</a> relating specifically to the type of pre-election period. 

GDS also has guidance on <a href="https://www.gov.uk/service-manual/user-research/researching-contentious-subjects-purdah#working-with-certain-user-groups">conducting research with specific user groups</a> and <a href="https://www.gov.uk/service-manual/user-research/researching-contentious-subjects-purdah#confidential-subjects">how to handle confidential subjects</a> during pre-election periods. 

<blockquote>
<h2>A note on the word 'Purdah'</h2>
<p>The term 'purdah' was historically used in the UK to describe pre-election periods.</p>
<p>Although you may still hear this word used unofficially across the Civil Service, some people find the use of this word offensive, because of <a href="https://dictionary.cambridge.org/dictionary/english/purdah">'purdah's' historical usage and etymology</a>. This is why we now use 'pre-election period' instead, and avoid using the word 'purdah'.</p>
</blockquote>

