---
title: Ethical standards
weight: 500
---

<%= partial "ga" %>

<div class="dfe-hero">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-font-size-48"><%=current_page.data.title%></h1>
      <p>Intro text</a>. 
      <h2 class="govuk-heading-m govuk-!-margin-top-9">Doing ethical research</h2>
        <div class="cards card-thirds">
        <ul>
         <li class="card">
            <div class="text">
              <h3>
                <a href="/-ethics-safeguarding-inclusive/research-ethics/social-media-in-research.html">Using social media</a>
              </h3>
              <p>Guidance on getting the most out of social media in user research and how not to use it.</p>
            </div>
          </li>
          <li class="card">
            <div class="text">
              <h3>
                <a href="/-ethics-safeguarding-inclusive/research-ethics/internal-research.html">Internal research</a>
              </h3>
              <p>Guidance on how to do ethically sound research with internal users. </p>
            </div>
          </li>
            <li class="card">
            <div class="text">
              <h3>
                <a href="/-ethics-safeguarding-inclusive/research-ethics/children-young-people.html">Research with children and young people</a>
              </h3>
              <p>Guidance on some of the key ehical considerations when researching with children and young people. </p>
            </div>
          </li>
          <li class="card">
            <div class="text">
              <h3>
                <a href="/-ethics-safeguarding-inclusive/research-ethics/informed-consent.html#content">Getting informed consent</a>
              </h3>
              <p>Guidance on getting fully informed consent from participants in user research. </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

