---
title: GDPR
weight: 10
last_reviewed_on: 2022-07-26
review_in: 1 year
---

<%= partial "ga" %>
<script src="https://kit.fontawesome.com/f3917b32f1.js" crossorigin="anonymous"></script>

# GDPR

Personal data is information that could identify a living individual. It is different from anonymised data, which cannot usually be used to identify an individual. 

User researchers at DfE regularly handle personal data. Organisations like DfE have a legal responsibility to protect personal data when they collect, process, store and erase it.  
 
As a user researcher you need to make sure that you understand how to protect personal data to comply with UK General Data Protection Regulation (GDPR). 

## Types of personal data

User researchers are often responsible for collecting personal data about users but everyone at DfE has a legal responsibility to protect the data collected.
 
Some types of personal data that user researchers often collect are: 
 
<li>special category data (includes information about disability, race and sexuality)</li>
<li>addresses, occupations, dates of birth</li>
<li>unedited video or audio (raw data)</li>
<li>recruitment trackers which include names and contact details</li>
<li>IP addresses and any data from cookies</li>

### Identifying personal data

You need to make sure that you understand what personal data is so you can protect an individual’s information and follow the law. 
 
Personal data is any information that could be used to identify a living individual. This includes information that could be used to indirectly identify someone when matched with other information about them. 
 
In user research, personal data is referred to as: 
<li>personal identifiers (PID)</li>
<li>personally identifiable information (PII)</li>
<li>raw data</li>
 
User researchers should recognise that someone’s personal data also includes special category data, this is any information about race, ethnicity, sexual orientation or political views. Special category data needs a higher level of protection than ordinary personal data. 


## Principles to follow in user research

UK GDPR sets out responsibilities for organisations for collecting, processing, storing and erasing personal data. The aim of this law is to improve existing legal  protection over individual’s rights to their information in a data-driven, modern world. 
 
>UK GDPR follows 7 principles:
 
> <li>lawful, fairness and transparency 
<li>purpose limitation (this means being clear about why you’re processing data) 
<li>data minimisation (this means collecting the right amount) 
accuracy  
<li>storage limitation (this means not keeping data for any longer than you need it) 
<li>integrity and confidentiality (security) 
<li>accountability </li>

<br>
For user researchers, to follow the law and protect personal data you must: 
 
<li>make your reasons for collecting data clear to participants (this is [informed consent](/getting-informed-consent.html))
<li>only collect data when there is a lawful reason 
<li>not reuse data that you’ve collected in the past 
<li>only collect data that you will need and use  
<li>make sure data is accurate and delete any inaccurate data 
<li>only keep data for the length of time that you need it for and tell participants what this is
<li>keep it secure and only share it with people who need to know it</li>


## Who is accountable for the data (data controller)

If you’re processing personal or special category data in your role as an employee at DfE then DfE is accountable for the data and is the data controller. 

## What happens when you anonymise data 

UK GDPR does not apply to fully anonymised data because after the process of anonymisation it can no longer be used to identify someone. It’s better to anonymise data as soon as you can.  

