---
title: Withdrawal of consent
weight: 10
last_reviewed_on: 2022-07-26
review_in: 1 year
---

<%= partial "ga" %>
<script src="https://kit.fontawesome.com/f3917b32f1.js" crossorigin="anonymous"></script>

# Withdrawal of consent

Research participants can withdraw their consent at any time. They can also make a Subject Access Request (SAR), this is where they ask to look at personal information that DfE holds about them.

Under UK GDPR, individuals have the right to know what personal information is held about them and have it deleted in some circumstances.

## Withdrawing participants from research

A participant could withdraw consent at any time so you’ll need to make sure they know how. 

You’ll also need to make sure you remind them that taking part in research is voluntary:
<li>during recruitment
<li>at the beginning and end of sessions
<li>whenever you think they feel uncomfortable</li>

## Deleting research data

You’ll need to delete any research data related to a participant who has withdrawn their consent. 

Delete your research data for the individual if:
<li>they withdraw consent during a session (stop the session if this happens)
<li>they withdraw consent after the session 
<li>you notice at any point that you do not have recorded consent for them</li>

When you delete someone’s data, make sure you:
<li>put any completed paper consent forms in a confidential waste bin
<li>delete related recordings, files and database entries
<li>delete their personal information, including contact details, from any files    
<li>tell them you’ve deleted their data</li>

You’ll be able to deal with requests much quicker if you keep your personal data files organised.

## Dealing with Subject Access Requests (SARs)

An individual usually has the right to know what information is held about them by DfE. SARs are usually made to find out what information is being held and why. 

If you’re dealing with a SAR you must respond to the requester within one month. You can choose to use a <a href="https://educationgovuk.sharepoint.com/sites/lvewp00002/SitePages/sar-templates.aspx" target=_blank>SARs response letter template</a> to do this.

All SARs come through the ‘contact us’ service through Iris, DfE’s correspondence system. If you receive a SAR in a different way, <a href="mailto:PCD.mailbox@education.gov.uk target=_blank">email the Ministerial and Public Communications Division</a> and ask them to log it.
 
Talk to the DPO or the UK GDPR policy team if you would like more specific advice about SARs. 
 
Find out how to [set up secure storage for files containing personal data](/storing-personal-data.hmtl).
